Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

docs: make opsin example into table with doctests
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

docs: adding missing java_home param for py4j steps
  kazu/steps/ner/opsin.py
  kazu/steps/ner/seth.py
Due: black, blacken-docs, flake8

ci: don't run dead code workflow on public repo
  .github/workflows/check_for_dead_code.yml
Due: none

we now check to see if a choice has already been added before adding another one. This prevents the LS view from having duplicate values and crashing the browser!
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

ci: update vulture whitelist
  .vulture_whitelist.py
Due: black, blacken-docs, flake8

joinpath uses list of args now
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

removed unused Exception param
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

fixed a bug where we were calling shutil.copytree on files (instead of directories
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

removed obsolete param from docstring
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

copytree can handle path, so no need to cast
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

removed 'resource_path' param as is no longer required
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

changed RESOURCES_PATH to KAZU_MODEL_PACK_BUILD_RESOURCES_PATH to make it more specific. also removed changing directory in CI to prevent side effects
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

fixed missing model pack name in CI
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

remvoed models and ontologies in favour of generic 'resources'
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

change dir when building packs so relative paths in build config work
  .github/workflows/release.yml
Due: none

build and test model packs can now use KAZU_MODEL_PACK_BUILD_RESOURCES_PATH to determine it's working directory
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

integration tests now have optional param for resource path
  .github/workflows/integration_test.yml
Due: none

change to $RESOURCES_PATH so that build config relative dirs work and build pack
  .github/workflows/release.yml
Due: none

updated CI for generified model pack build and removed unused param to job
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

no need to cast path to str
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

generified the build script so that resources can be copied from any model pack, rather than just the base one, so that we don't need to manage duplicate artifacts
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

improved docstring for load_build_configuration
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

chore: fix resource path var in integration tests
  .github/workflows/integration_test.yml
Due: none

chore: pin types-requests to fix pre-commit
  pyproject.toml
Due: none

pull non-default pipeline step dependencies out into dep group
  kazu/steps/ner/opsin.py
  kazu/steps/ner/seth.py
  kazu/steps/other/stanza.py
  kazu/utils/stanza_pipeline.py
  pyproject.toml
Due: black, blacken-docs, flake8

docs: add docs for steps that need dependencies in all_steps
  docs/default_pipeline.rst
  kazu/steps/ner/opsin.py
  kazu/steps/ner/seth.py
  kazu/steps/other/stanza.py
Due: black, blacken-docs, flake8

docs: add towncrier snippet for all_steps dependency group
  docs/_changelog.d/+allstepsdeps.feature.rst
Due: blacken-docs

get kazu version statically rather than with subprocess
  kazu/utils/build_and_test_model_packs.py
  kazu/web/server.py
Due: black, blacken-docs, flake8

spacy reload interval now controlled by KAZU_SPACY_RELOAD_INTERVAL env var
  kazu/conf/config.yaml
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

added tests for SpacyPipelines
  kazu/tests/test_spacy_pipelines.py
Due: black, blacken-docs, flake8

fixed test so that string store size is now calcualted at the right time
  kazu/tests/test_spacy_pipelines.py
Due: black, blacken-docs, flake8

docs
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

ray serve tests now clear any residual singleton info, as ray runs separate processes and hanging resources can cause OOM
  conftest.py
Due: black, blacken-docs, flake8

fixed docstring formatting bug
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

precommit
  .github/workflows/integration_test.yml
Due: none

improved SpacyPipeline docs and corrected use of docs for setter/getter
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

calling Singleton.clear_all() before tests to prevent cross test interference
  kazu/tests/test_spacy_pipelines.py
Due: black, blacken-docs, flake8

simplified abbreviation_finder.py to manage spacy pipeline in a singleton
  kazu/steps/document_post_processing/abbreviation_finder.py
Due: black, blacken-docs, flake8

modified spacy_ner.py to use SpacyPipelines
  kazu/steps/ner/spacy_ner.py
Due: black, blacken-docs, flake8

improved docstring
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  flake8: any of: \.py$
