Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

various minor refactors and docstring changes for autocuration
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

added MaxLength, is_upper_case_word_to_case_insensitive, reverse_camel_case_to_case_sensitive autocuration heuristics
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

simplification of is_upper_case_word_to_case_insensitive
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

fix: hydra ignores return value of function wrapped with main
  docs/quickstart.rst
Due: blacken-docs

corrected build path in action
  .github/workflows/release.yml
Due: none

precommit excludes everything in the resources folder
  .pre-commit-config.yaml
Due: none

added debug mode
  .github/workflows/integration_test.yml
Due: none

added TYPE_CHECKING so that we can specify correct return types on build_caches_and_run_sanity_checks
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

use caching with pip
  .github/workflows/check_for_dead_code.yml
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/integration_test.yml
  .github/workflows/precommit_and_docs_build_check.yml
  .github/workflows/release.yml
Due: none

set new resources path to local
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

removed input param for resources path as is unlikely to ever change
  .github/workflows/integration_test.yml
Due: none

load and dump curated terms are now batched for smaller file sizes. Also removed dump_curated_term_subsets and replaced it with an easier to parse JSON structure
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

reduced mondo acceptance threshold to 0 as is out of date
  resources/kazu_model_pack_public/acceptance_criteria.json
Due: none

remove old deployment configs
  .github/workflows/deploy-dev.yaml
  .github/workflows/temporary-deployment.yaml
Due: none

refactored acceptance test methods so they can be used elsewhere without label studio connection dependency/Hydra
  kazu/annotation/acceptance_test.py
Due: black, blacken-docs, flake8

change runners to hosted
  .github/workflows/check_for_dead_code.yml
  .github/workflows/integration_test.yml
  .github/workflows/precommit_and_docs_build_check.yml
  .github/workflows/release.yml
Due: none

added logging
  .github/workflows/integration_test.yml
Due: none

added post init check for no original forms specified on CuratedTerm
  kazu/data/data.py
Due: black, blacken-docs, flake8

parameterised run_global_string_match_conflict_report as it is causing memory spikes on the runners
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

added gitattributes for LFS
  .gitattributes
Due: none

moved readme files out of git LFS
  resources/kazu_model_pack_public/scispacy/en_core_sci_md-0.5.0/README.md
  resources/kazu_model_pack_public/tinybern2/README.md
Due: blacken-docs

rename variable for clarity
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

skip server tests as when these run on github runners, the low shared memory of the containers can cause freeezes
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  kazu/tests/test_server.py
  kazu/tests/utils.py
Due: black, blacken-docs, flake8

Update .gitattributes to exempt README files from git LFS
  .gitattributes
Due: none

fix resources path
  .github/workflows/integration_test.yml
Due: none

removed unnecessary default for KAZU_MODEL_PACK_BUILD_RESOURCES_PATH
  .github/workflows/integration_test.yml
Due: none

use lfs in checkout
  .github/workflows/integration_test.yml
Due: none

simplify load_curated_terms
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

pack building now reports global conflicts across all default parsers
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

deleted redundant Label Studio config.yaml
  kazu/conf/LabelStudioManager/default.yaml
  kazu/conf/config.yaml
Due: none

remove use of min call as is redundant
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

refactor: simplify Document.__len__
  kazu/data/data.py
Due: black, blacken-docs, flake8

switch create_phrasematcher usage to new name
  kazu/ontology_matching/assemble_pipeline.py
Due: black, blacken-docs, flake8

turn pendings deprecations into removals
  docs/_changelog.d/+SpacyToKazuObjectMapper.removal.md
  docs/_changelog.d/+createphrasematchersremoval.removal.md
  docs/_changelog.d/+remove-replace-dashes.removal.md
  kazu/ontology_matching/ontology_matcher.py
  kazu/utils/spacy_object_mapper.py
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

Rename SynonymDatabase.add to add_parser for consistency
  docs/_changelog.d/+renamesyndbadd.removal.md
  kazu/database/in_memory_db.py
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

add logging for sometime null 'extra' metadata
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

limiting logging of columns using numpy array
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

improve empty metadata dropping
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8
