Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

default value for indices
  kazu/conf/config.yaml
Due: none

updated version base to 1.3 in train.py
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

minimum hydra version is now 1.3
  setup.py
Due: black

DictionaryEntityLinkingStep now interpolates indicies
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
Due: none

indices now in own top level conf group
  kazu/conf/indices/default.yaml
Due: none

HYDRA_VERSION_BASE is now a constant. Also fixed version base in a few locations
  README.md
  conftest.py
  docs/pipeline_example.rst
  docs/quickstart.rst
  kazu/modelling/annotation/acceptance_test.py
  kazu/modelling/distillation/train.py
  kazu/modelling/linking/sapbert/train.py
  kazu/utils/build_and_test_model_packs.py
  kazu/utils/constants.py
  kazu/web/server.py
Due: black, flake8

more informative short description for Pypi
  setup.py
Due: black

add README.md as long_description for Pypi
  setup.py
Due: black

add type annotation
  kazu/web/jwtauth.py
Due: black, flake8

fix typo: exluded -> excluded
  kazu/web/jwtauth.py
  kazu/web/routes.py
Due: black, flake8

rename success var names for first param of step results
  docs/single_step_example.rst
  kazu/tests/test_abbreviation_finder_step.py
  kazu/tests/test_explosion_ner.py
  kazu/tests/test_hf_token_classification.py
  kazu/tests/test_merge_overlapping_ents_step.py
  kazu/tests/test_sentence_segmentation.py
  kazu/tests/test_seth.py
  kazu/tests/test_spacy_ner.py
Due: black, flake8

remove config for deleted NerDeDuplicationStep
  kazu/conf/NerDeDuplicationStep/default.yaml
  kazu/conf/config.yaml
Due: none

use namespace method call instead of raw string
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
  kazu/conf/NerDeDuplicationStep/default.yaml
Due: none

add assertions to make namespace use safer
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

fix check for empty sort order: None to empty list
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

Use namespace classmethod where possible for StrategyRunner
  kazu/conf/MappingStep/default.yaml
Due: none

use namespace method in tests over raw strings
  kazu/tests/test_merge_overlapping_ents_step.py
Due: black, flake8

update github action versions from marketplace
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

stricter default CORS origin
  kazu/conf/Middlewares/jwt.yaml
Due: none

formatting
  kazu/modelling/annotation/label_studio.py
  kazu/web/ls_web_utils.py
  kazu/web/server.py
Due: black, flake8

class name refactor LinkRanks->StringMatchConfidence
  kazu/modelling/annotation/label_studio.py
  kazu/steps/ner/seth.py
Due: black, flake8

MappingStrategy signature change for new types
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

Mapping factory signature change for new Mapping fields
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

define new StringMatchConfidence and DisambiguationConfidence enums
  kazu/data/data.py
Due: black, flake8

MappingStrategy.disambiguate_if_required now returns the DisambiguationConfidence
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

DropMappingsByConfidenceMappingFilter now accepts args for string match and disambiguation
  kazu/steps/other/cleanup.py
Due: black, flake8

DisambiguationStrategy now require confidence parameter
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, flake8

added suffix strip config for gene class
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
Due: none

added test for strip_re
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

change signature of hf_token_classification.py for clean suffixes
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

added suffix strip method to tokenized_word_processor.py
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

entity splitter is not used, so removing
  kazu/conf/TransformersModelForTokenClassificationNerStep/entity_splitter.yaml
Due: none

Disambiguation strategies.py now require a confidence parameter
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, flake8

refactor tests for new disambiguation strategy and string match strategy parameters
  kazu/tests/test_cleanup.py
  kazu/tests/test_disambiguation_strategies.py
  kazu/tests/test_label_studio.py
  kazu/tests/test_linking_strategy_runner.py
  kazu/tests/test_mapping_strategies.py
  kazu/tests/test_merge_overlapping_ents_step.py
Due: black, flake8

refactor tests for new disambiguation strategy and string match strategy parameters
  kazu/tests/test_disambiguation_strategies.py
Due: black, flake8

refactor xref_manager.py for new string match strategy parameters
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

configs for new parameters
  kazu/conf/CleanupActions/default.yaml
  kazu/conf/DisambiguationStrategies/default.yaml
  kazu/conf/MappingStep/default.yaml
Due: none

reorder params
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, flake8

docstring for new param
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, flake8

refactored the disambiguate_if_required method for clarity/consistency
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
