Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

try sudo install openblas
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

unpin types-requests
  pyproject.toml
Due: none

remove types-requests
  pyproject.toml
Due: none

feat: remove distillation training code causing issues
  .github/workflows/precommit_and_docs_build_check.yml
  kazu/conf/DistillationTraining/default.yaml
  kazu/conf/DistillationTraining/intermediatelayer.yaml
  kazu/conf/DistillationTraining/production.yaml
  kazu/conf/config.yaml
  kazu/distillation/__init__.py
  kazu/distillation/dataprocessor.py
  kazu/distillation/lightning_plugins.py
  kazu/distillation/metrics.py
  kazu/distillation/models.py
  kazu/distillation/tiny_transformers.py
  kazu/distillation/train.py
  kazu/tests/test_distillation_training.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix typo
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

fix: use pre-commit < 4
  pyproject.toml
Due: none

fix: remove model training code that used pytorch lighting
  kazu/linking/__init__.py
  kazu/linking/sapbert/__init__.py
  kazu/linking/sapbert/train.py
Due: black, blacken-docs, flake8

fix: add requirement back in
  pyproject.toml
Due: none

fix: remove further mentions of training
  docs/conf.py
  kazu/conf/SapBertTraining/default.yaml
  kazu/utils/model_pack_build_logging.conf
  pyproject.toml
Due: black, blacken-docs, flake8

pin spacy
  pyproject.toml
Due: none

fix: broken spacy version on python 3.11
  pyproject.toml
Due: none

update sphinx
  docs/conf.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: pin sphinx to avoid ssl errors
  pyproject.toml
Due: none

fix: remove reference to removed code
  kazu/conf/config.yaml
Due: none

dummy change
  README.md
Due: blacken-docs

try installing openblas
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

test numpy > 2
  pyproject.toml
Due: none

try forcing pandas>2
  pyproject.toml
Due: none

revert changes and try different scipy version
  .github/workflows/precommit_and_docs_build_check.yml
  pyproject.toml
Due: none

taste disabled pip cache
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

try without pip cache
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

refactor: further nesting in curation_utils
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

refactor: reduce nesting in _process_global_actions
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

refactor: reduce nesting in OntologyParser
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

version: bump black version
  kazu/ontology_preprocessing/base.py
  pyproject.toml
Due: black, blacken-docs, flake8
