Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]
    exclude: setup.py

bump transformers and sphinx
  setup.py
Due: black

gitignore for sphinx update
  .gitignore
Due: none

sphinx main files
  .nojekyll
  docs/.nojekyll
  docs/Makefile
  docs/apidocs.rst
  docs/conf.py
  docs/datamodel.rst
  docs/index.html
  docs/index.rst
  docs/make.bat
  docs/quickstart.rst
  docs/steps.rst
  docs/training.rst
Due: black, flake8

html
  docs/_build/html/.buildinfo
  docs/_build/html/_sources/apidocs.rst.txt
  docs/_build/html/_sources/datamodel.rst.txt
  docs/_build/html/_sources/docker.rst.txt
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/_sources/quickstart.rst.txt
  docs/_build/html/_sources/steps.rst.txt
  docs/_build/html/_sources/training.rst.txt
  docs/_build/html/_static/basic.css
  docs/_build/html/_static/contents.png
  docs/_build/html/_static/doctools.js
  docs/_build/html/_static/documentation_options.js
  docs/_build/html/_static/file.png
  docs/_build/html/_static/jquery-3.5.1.js
  docs/_build/html/_static/jquery.js
  docs/_build/html/_static/language_data.js
  docs/_build/html/_static/minus.png
  docs/_build/html/_static/navigation.png
  docs/_build/html/_static/plus.png
  docs/_build/html/_static/pygments.css
  docs/_build/html/_static/searchtools.js
  docs/_build/html/_static/sphinxdoc.css
  docs/_build/html/_static/underscore-1.13.1.js
  docs/_build/html/_static/underscore.js
  docs/_build/html/apidocs.html
  docs/_build/html/datamodel.html
  docs/_build/html/docker.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/py-modindex.html
  docs/_build/html/quickstart.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/_build/html/steps.html
  docs/_build/html/training.html
Due: none

fix: add missing yaml config
  azner/conf/pipeline/entity_linking_only.yaml
Due: none

add missing pytest-timeout test dependency
  requirements-dev.txt
Due: none

fix _target_ for embedding_index_factory in yaml
  azner/conf/SapBertForEntityLinkingStep/default.yaml
Due: none

Updates related to no Nones in Entity.metadata.mappings
  azner/data/data.py
  azner/tests/test_full_pipeline_acceptance_test.py
  azner/tests/test_linking_acceptance_test.py
  azner/tests/test_sapbert.py
  azner/utils/utils.py
Due: black, flake8

Update setup.py
  requirements-dev.txt
  setup.py
Due: black

Add note in quickstart about pip version
  docs/quickstart.rst
Due: none

Docs build
  docs/_build/html/_sources/quickstart.rst.txt
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/quickstart.html
  docs/_build/html/searchindex.js
  docs/_build/html/training.html
Due: none

update github pages docs URL
  README.md
Due: none

FEAT: Initial commit for distillation module
  azner/modelling/distillation/configure.py
  azner/modelling/distillation/dataprocessor/__init__.py
  azner/modelling/distillation/dataprocessor/data_utils.py
  azner/modelling/distillation/dataprocessor/dataprocessor.py
  azner/modelling/distillation/dataprocessor/seqcls_tasks.py
  azner/modelling/distillation/dataprocessor/seqtag_tasks.py
  azner/modelling/distillation/distillation/DistillModel.py
  azner/modelling/distillation/distillation/__init__.py
  azner/modelling/distillation/distillation/custom_checkpoint.py
  azner/modelling/distillation/distillation/metrics.py
  azner/modelling/distillation/distillation/transformersTBPL.py
  azner/modelling/distillation/task_distill.py
  setup.py
Due: black, flake8

sphinx docs
  docs/_build/html/_sources/quickstart.rst.txt
  docs/_build/html/apidocs.html
  docs/_build/html/genindex.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/_build/html/steps.html
  docs/quickstart.rst
Due: none

fix for cache dir and mapping type check
  azner/utils/caching.py
Due: black, flake8

updated caching.py with new ontology method names
  azner/utils/caching.py
Due: black, flake8

sapbert model now has convenience methods for generating embeddings
  azner/modelling/linking/sapbert/train.py
Due: black, flake8

fixed bug with parsers index and moved column naming keys
  azner/modelling/ontology_preprocessing/base.py
Due: black, flake8

fixed join criteria and faiss import in link_index.py
  azner/utils/link_index.py
Due: black, flake8

dictionary step now used CachedIndexGroup
  azner/steps/linking/dictionary.py
Due: black, flake8

dictionary test passing
  azner/tests/test_dictionary_linking.py
Due: black, flake8

added caching abstractions and new CachedIndexGroup class
  azner/utils/caching.py
  azner/utils/link_index.py
Due: black, flake8

sphinx indet fix
  azner/utils/caching.py
Due: black, flake8

CachedIndexGroup now accepts multiple Cache managers, and Cache managers accept multiple parsers in constructor
  azner/steps/linking/sapbert.py
  azner/tests/test_caching.py
  azner/tests/test_linking_steps.py
  azner/utils/caching.py
Due: black, flake8

dictionary step now uses topn param
  azner/steps/linking/dictionary.py
  azner/tests/test_caching.py
  azner/tests/test_embedding_index.py
Due: black, flake8

added index type check to sapbert.py
  azner/steps/linking/sapbert.py
Due: black, flake8

docs
  azner/modelling/ontology_preprocessing/base.py
  azner/steps/linking/dictionary.py
  azner/steps/linking/sapbert.py
  azner/tests/test_caching.py
  azner/tests/test_linking_steps.py
  azner/utils/caching.py
  azner/utils/link_index.py
Due: black, flake8

get_cache_dir now accepts prefix
  azner/utils/utils.py
Due: black, flake8

dictionary linking config updates
  azner/conf/DictionaryEntityLinkingStep/default.yaml
  azner/conf/DictionaryEntityLinkingStep/docker.yaml
  azner/conf/SapBertForEntityLinkingStep/default.yaml
  azner/conf/SapBertForEntityLinkingStep/docker.yaml
Due: none

linking tests now all in one place
  azner/tests/test_linking_steps.py
Due: black, flake8

added dummy bert model for testing
  azner/tests/test_assets/bert_test_model/config.json
  azner/tests/test_assets/bert_test_model/pytorch_model.bin
  azner/tests/test_assets/bert_test_model/vocab.txt
Due: none

added caching test
  azner/tests/test_caching.py
Due: black, flake8

removed old test files
  azner/tests/test_dictionary_linking.py
  azner/tests/test_linking_acceptance_test.py
  azner/tests/test_sapbert.py
Due: black, flake8

imports fix
  azner/steps/linking/link_ensembling.py
Due: black, flake8

ontology preprocssing now has more appropriate method names
  azner/modelling/ontology_preprocessing/base.py
Due: black, flake8

added tests for configs
  azner/tests/test_configs.py
  azner/tests/utils.py
Due: black, flake8

acceptance tests now all in one place
  azner/tests/test_acceptance_test.py
  azner/tests/test_full_pipeline_acceptance_test.py
Due: black, flake8

embedding indexed reworked for DRY
  azner/utils/link_index.py
Due: black, flake8

precommit
  azner/tests/test_configs.py
  azner/tests/test_linking_steps.py
  azner/tests/utils.py
  azner/utils/link_index.py
Due: black, flake8

sapbert now uses CachedIndexGroup properly, and reusese underlying sapbert model
  azner/steps/linking/sapbert.py
Due: black, flake8
