Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

docs: updated README.md
  README.md
Due: none

temporarily l
  kazu/web/server.py
Due: black, flake8

Update README.md
  README.md
Due: none

additional licence info and tinybern2 training info link
  README.md
Due: none

docs: added CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: added AUTHORS.md
  AUTHORS.md
Due: none

add newline at end of CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix typo in AUTHORS.md
  AUTHORS.md
Due: none

docs: updated README.md with badge
  README.md
Due: none

docs: added pip install -e
  CONTRIBUTING.md
Due: none

docs: added NEWS.md
  NEWS.md
Due: none

docs and typing++
  kazu/utils/string_normalizer.py
Due: black, flake8

added doi link to OT credit
  README.md
Due: none

removed gilda dep., copied over required gilda functions
  kazu/utils/string_normalizer.py
  setup.py
Due: black, flake8

added explicit regex dependency
  setup.py
Due: black

added additional stanza paper ref
  README.md
Due: none

cleanup
  kazu/utils/string_normalizer.py
Due: black, flake8

added pdf link to sapbert
  README.md
Due: none

typing++
  kazu/utils/string_normalizer.py
Due: black, flake8

docs++
  kazu/utils/string_normalizer.py
Due: black, flake8

removed unused code
  kazu/modelling/database/in_memory_db.py
Due: black, flake8

formatting
  kazu/modelling/database/in_memory_db.py
Due: black, flake8

added pyJWT dependency
  setup.py
Due: black

type fixes
  kazu/utils/string_normalizer.py
Due: black, flake8

added jwt back end
  kazu/web/jwtauth.py
Due: black, flake8

simplified calls
  kazu/modelling/database/in_memory_db.py
Due: black, flake8

singleton metaclass for synonym database
  kazu/modelling/database/in_memory_db.py
Due: black, flake8

using singleton metaclass for metadata database
  kazu/modelling/database/in_memory_db.py
Due: black, flake8

instantiating middlewares on server start
  kazu/web/server.py
Due: black, flake8

removed unused import
  conftest.py
Due: black, flake8

new fixture to test auth
  conftest.py
Due: black, flake8

test server now also uses auth fixture
  kazu/tests/test_server.py
Due: black, flake8

default prefix now "Bearer"
  kazu/web/jwtauth.py
Due: black, flake8

default prefix now "Bearer" in test
  conftest.py
Due: black, flake8

added excluded ids option
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

config updates
  kazu/conf/Middlewares/default.yaml
  kazu/conf/Middlewares/jwt.yaml
  kazu/conf/config.yaml
Due: none

typo
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

replace entity_class_to_ontology_map
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
  kazu/conf/SapBertForEntityLinkingStep/default.yaml
  kazu/conf/config.yaml
  kazu/conf/entity_class_to_ontology_map/default.yaml
  kazu/conf/ontology_parser/default.yaml
  kazu/steps/linking/dictionary.py
  kazu/steps/linking/sapbert.py
  kazu/tests/test_dictionary_entity_linking_step.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
