Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

minor mypy fixes
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

pass algorithm as list as expected
  kazu/web/jwtauth.py
Due: black, flake8

remove unused enumerate
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

minor mypy fixes
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

remove type annotation on variable reuse
  kazu/tests/test_pipeline.py
Due: black, flake8

don't repeat type annotation for reused variable
  kazu/tests/test_disambiguation_strategies.py
Due: black, flake8

mypy fix: make type hint match parent class
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

help out mypy with a cast
  kazu/steps/joint_ner_and_linking/explosion.py
Due: black, flake8

add matching assert
  kazu/modelling/language/string_similarity_scorers.py
Due: black, flake8

fix bracketed imports
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
  kazu/tests/test_linking_strategy_runner.py
Due: black, flake8

assert to help mypy
  kazu/modelling/language/string_similarity_scorers.py
Due: black, flake8

mypy type ignore
  kazu/data/data.py
Due: black, flake8

avoid add_id_header completely when auth isn't used
  kazu/conf/Middlewares/jwt.yaml
  kazu/web/req_id_header.py
  kazu/web/server.py
Due: black, flake8

use torch.softmax for consistency
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

use torch.sigmoid instead of torch.nn.functional.sigmoid
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

fix typo suffices -> suffixes
  kazu/modelling/ontology_preprocessing/synonym_generation.py
Due: black, flake8

clo has wrong scorer
  kazu/conf/indices/default.yaml
Due: none

merge overlapping ents should also allow ordering by preferred namespace, as source entities may be eliminated in favour of defined elsewhere entities
  kazu/steps/other/merge_overlapping_ents.py
Due: black, flake8

made ent_namespace_preferred_order an interpolation
  kazu/conf/MergeOverlappingEntsStep/default.yaml
Due: none

config update
  kazu/conf/MergeOverlappingEntsStep/default.yaml
Due: none

group_entities_by_symbolism requires sort_then_group, as incoming ents are sorted by namespace
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

added doc line in yaml to explain why explosion string matching is 'highly likely''
  kazu/conf/MappingStep/default.yaml
Due: none

fixed iteration bug in rdf SPARQLResult and string representation of Literal
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

project_id is now @cached_property, so we don't make a request every time we interact with LS
  kazu/modelling/annotation/label_studio.py
Due: black, flake8

added better logging for LS
  kazu/modelling/annotation/label_studio.py
Due: black, flake8

Bump version: 0.0.20 → 0.0.21
  setup.cfg
  setup.py
Due: black

store all cache sizes together for easy user access
  kazu/conf/SapbertStringSimilarityScorer/default.yaml
  kazu/conf/cache_sizes/default.yaml
  kazu/conf/config.yaml
Due: none

added cache size param to SapbertStringSimilarityScorer config file
  kazu/conf/SapbertStringSimilarityScorer/default.yaml
Due: none

added env variable to override TFIDF cache size
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, flake8

added env variable to override StringNormalizer cache size
  kazu/utils/string_normalizer.py
Due: black, flake8

hydra env params and docs Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  kazu/conf/config.yaml
Due: none

using getenv instead of os.environ
  kazu/steps/linking/post_processing/disambiguation/strategies.py
  kazu/utils/string_normalizer.py
Due: black, flake8

fix hydra env_set interpolation issue
  kazu/conf/cache_sizes/default.yaml
  kazu/conf/config.yaml
Due: none

added cache size param to SapbertStringSimilarityScorer
  kazu/modelling/language/string_similarity_scorers.py
Due: black, flake8

NamespaceStrategyExecution now always resets state at the end of an execution
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

updated examples to use hydra annotation
  README.md
  docs/quickstart.rst
Due: none

added KAZU_TFIDF_DISAMBIGUATION_DOCUMENT_CACHE_SIZE for completeness
  kazu/conf/cache_sizes/default.yaml
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, flake8

simplified indentation
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

neater text for Document.simple_document_from_sents()
  kazu/data/data.py
Due: black, flake8

added test to catch bug with span-sharing entities across sections
  kazu/tests/test_entity_class_disambiguation.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
