Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]
    exclude: setup.py

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^kazu/tests/test_assets/tinybern"

update black version and reformat
  kazu/pipeline/pipeline.py
  setup.py
Due: black, flake8

fix typo in README.md
  README.md
Due: none

now using urllib to parse ids in case we have an identifier that contains a slash but is not actually a url
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

updated configs to use new MEDDRA_DISEASE key
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
  kazu/conf/ExplosionNERStep/default.yaml
  kazu/conf/SapBertForEntityLinkingStep/default.yaml
Due: none

fix issues with code in docs
  docs/datamodel.rst
  docs/quickstart.rst
Due: none

build docs
  docs/_build/html/.buildinfo
  docs/_build/html/_sources/datamodel.rst.txt
  docs/_build/html/_sources/quickstart.rst.txt
  docs/_build/html/_static/basic.css
  docs/_build/html/_static/doctools.js
  docs/_build/html/_static/documentation_options.js
  docs/_build/html/_static/jquery.js
  docs/_build/html/_static/language_data.js
  docs/_build/html/_static/searchtools.js
  docs/_build/html/_static/sphinxdoc.css
  docs/_build/html/apidocs.html
  docs/_build/html/datamodel.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/py-modindex.html
  docs/_build/html/quickstart.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/_build/html/steps.html
  docs/_build/html/training.html
Due: none

fix fields in entities_as_dataframe
  kazu/data/data.py
Due: black, flake8

minor adjustments and docs
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

added SimpleSpanProcessor to tokenized_word_processor.py
  kazu/steps/ner/tokenized_word_processor.py
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

docs for tokenized_word_processor.py
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

default for Tok classification threshold is None (i.e. use SimpleSpanFinder
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
Due: none

addressing PR comments for tokenized_word_processor.py SimpleSpanFinder/SmartSpanFinder
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
  kazu/pipeline/pipeline.py
  kazu/steps/ner/hf_token_classification.py
  kazu/steps/ner/tokenized_word_processor.py
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

docs
  kazu/steps/ner/hf_token_classification.py
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

subspan check now only triggers if subspan field is not None
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

extra whitespace
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

improvements as per PR review
  kazu/steps/ner/tokenized_word_processor.py
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

config for MergeOverlappingEntsStep
  kazu/conf/MergeOverlappingEntsStep/default.yaml
Due: none

bumped various versions for M! compatibility
  setup.py
Due: black

config fix for DistillationTraining
  kazu/conf/DistillationTraining/default.yaml
Due: none

removed SpanFactory - methods now on TokenizedWordProcessor
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

added detect_subspan = False to tests, and fixed argmax index selection in SimpleSpanFinder
  kazu/steps/ner/tokenized_word_processor.py
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

black change
  kazu/pipeline/pipeline.py
Due: black, flake8

addressing PR remarks/quality improvements
  kazu/steps/other/merge_overlapping_ents.py
  kazu/tests/test_merge_overlapping_ents_step.py
Due: black, flake8

docs and config refinement
  kazu/conf/MergeOverlappingEntsStep/default.yaml
  kazu/steps/other/merge_overlapping_ents.py
Due: black, flake8

SynonymData renamed EquivalentIdSet
  kazu/data/data.py
  kazu/modelling/ontology_preprocessing/base.py
  kazu/modelling/ontology_preprocessing/synonym_generation.py
  kazu/steps/other/document_disambiguationv2.py
  kazu/tests/test_document_disambiguation.py
  kazu/tests/test_ontology_matching.py
  kazu/tests/test_synonym_generators.py
  kazu/utils/kb_disambiguation.py
  kazu/utils/link_index.py
Due: black, flake8

deleted outdated modules ahead of new versions
  kazu/steps/other/document_disambiguationv2.py
  kazu/tests/test_acceptance_test.py
Due: black, flake8

reverted opentargets_target to use gene symbol as default name, so it can be used in PreferDefaultLabelKnowledgeBaseDisambiguationStrategy
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

updated configs to use new mereg ents step
  kazu/conf/config.yaml
  kazu/conf/pipeline/slow_full.yaml
  kazu/conf/pipeline/slow_tiny.yaml
Due: none

merge_overlapping_ents.py first implementation
  kazu/steps/other/merge_overlapping_ents.py
  kazu/tests/test_merge_overlapping_ents_step.py
Due: black, flake8

removed config for disambiguation ahead of refactor
  kazu/conf/DocumentLevelDisambiguationStep/default.yaml
Due: none

added optional trainer to params when configuring EmbeddingIndex, so cache generation can use GPU if available. Also fixed some docs
  kazu/utils/link_index.py
Due: black, flake8

reworked Hit, added grouping method to Document,
  kazu/data/data.py
  kazu/steps/linking/dictionary.py
  kazu/steps/linking/sapbert.py
  kazu/tests/test_dictionary_index.py
  kazu/utils/link_index.py
Due: black, flake8

fixed caching.py for new hit schema
  kazu/utils/caching.py
Due: black, flake8

precommit
  kazu/modelling/ontology_preprocessing/synonym_generation.py
Due: black, flake8

default sapbert config now only targets disease
  kazu/conf/SapBertForEntityLinkingStep/default.yaml
Due: none

sapbert cache generation now properly uses configured trainer
  kazu/steps/linking/sapbert.py
Due: black, flake8

removed disambiguation from pipeline ahead of refactor
  kazu/conf/pipeline/default.yaml
Due: none

precommit fixes
  kazu/modelling/ontology_preprocessing/synonym_generation.py
Due: black, flake8

metrics on hit no longer forms part of hash. added entity grouper to section as well as doc level
  kazu/data/data.py
Due: black, flake8

added tests
  kazu/tests/test_data.py
Due: black, flake8
