Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

updated rule_based_disambiguator.py to use SpacyPipelines
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

use Literal to describe keys of MatcherClassRules
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

removed unused import
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

rules_based_disambiguation.py now tracks entities that could be affected by rules, to prevent unnecessary looping. Also renamed module for consistency
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

added multi-arm to arm disambiguation rules
  kazu/conf/RuleBasedDisambiguationStep/default.yaml
Due: none

spacy.tokens.token.Token added to nitpick ignore
  docs/conf.py
Due: black, blacken-docs, flake8

removed bool check as Matcher evaluates to True
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

remove unneeded _tp_allowed_values
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

added missing fixture to test
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

created SpacyToKazuObjectMapper
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

expanded test suite for RulesBasedEntityClassDisambiguationFilterStep
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

correct inconsistent/incorrect quotation marks in config
  kazu/conf/RuleBasedDisambiguationStep/default.yaml
Due: none

added type ignores to test
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

fixed duplicate matcher creation that snuck in somehow
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

updated default pipeline with RulesBasedEntityClassDisambiguationFilterStep
  docs/default_pipeline.rst
Due: blacken-docs

added type alias for SpacyMatcherRules
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

precommit after GH review
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

added RulesBasedEntityClassDisambiguationFilterStep config and pipeline update - EntityClassDisambiguationStep no longer used
  kazu/conf/Pipeline/default.yaml
  kazu/conf/RuleBasedDisambiguationStep/default.yaml
  kazu/conf/config.yaml
Due: none

renamed module for consistency
  kazu/conf/RulesBasedEntityClassDisambiguationFilterStep/default.yaml
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

refactor: rework ent_fp_class_results type and similar
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

renamed variable for readability
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

added RulesBasedEntityClassDisambiguationFilterStep
  kazu/steps/linking/rule_based_disambiguator.py
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

updated SpacyToKazuObjectMapper.py to use SpacyPipelines, and improved docs
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

added docstring to SpacyToKazuObjectMapper
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

config for RulesBasedEntityClassDisambiguationFilterStep
  kazu/conf/RulesBasedEntityClassDisambiguationFilterStep/default.yaml
Due: none

minor doc correction
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

minor code and doc improvements
  kazu/steps/linking/rule_based_disambiguator.py
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

rewritten RulesBasedEntityClassDisambiguationFilterStep to take account of when rules are required to fire. Also improved docs
  kazu/steps/linking/rule_based_disambiguator.py
Due: black, blacken-docs, flake8

moved SpacyToKazuObjectMapper to it's own module, to avoid circular import of OntologyParser. It now sets spacy extensions on init, and has a call method to return Entity to Span mappings
  kazu/utils/spacy_object_mapper.py
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

MatcherResult is now AutoNameEnum
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

added deprecation warning to EntityClassDisambiguationStep
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, blacken-docs, flake8

minor code improvement for readibility
  kazu/steps/linking/rules_based_disambiguation.py
Due: black, blacken-docs, flake8

added parsers arg to config for RulesBasedEntityClassDisambiguationFilterStep
  kazu/conf/RulesBasedEntityClassDisambiguationFilterStep/default.yaml
Due: none

refactored to use new parser dependant KazuSpacyObjectMapper
  kazu/steps/linking/rules_based_disambiguation.py
  kazu/tests/test_rules_based_disambiguation.py
Due: black, blacken-docs, flake8

moved stanza pin to all_steps dep group
  pyproject.toml
Due: none

since we now filter all unmapped ents by default, this test needed an update accordingly
  kazu/tests/test_cleanup.py
Due: black, blacken-docs, flake8

frontend: update dependencies
  frontend/package-lock.json
Due: none

frontend: add jest test config
  frontend/jest.config.js
Due: none

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  flake8: any of: \.py$
