Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

CombinatorialSynonymGenerator now has same call signature of SynonymGenerator
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

Updated OntologyProcessor to use new signature of CombinatorialSynonymGenerator
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

added sanity tests for model packs
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

missing full stop in docs
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

FailedDocsLogHandler is now the default handler for pipeline
  kazu/conf/Pipeline/default.yaml
Due: none

ci: eager upgrade of dependencies for workflows
  .github/workflows/check_for_dead_code.yml
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

ci: remove GitHub Actions cache for dependencies
  .github/workflows/check_for_dead_code.yml
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/integration_test.yml
Due: none

ci: add missing torch install to dead code workflow
  .github/workflows/check_for_dead_code.yml
Due: none

CI: REMOVE CORS regexes
  .github/workflows/deploy-dev.yaml
  .github/workflows/temporary-deployment.yaml
  kazu/conf/Middlewares/jwt.yaml
Due: none

missing parenthesis
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

minor efficiency improvements
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

towncrier
  docs/_changelog.d/+stringmapper.bugfix.rst
Due: blacken-docs

merge all synonym terms across matches to produce only a single entity per class in MemoryEfficientStringMatchingStep
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

check that most confident hit is always selected even if there are conflicts within the same parser
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

fixed a scenario where entities could be getting generated with zero terms, if case sensitivity check didn't pass.
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

minor doc formatting
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

added PreferDefaultLabelMatchDisambiguationStrategy
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

remove redundant fixure
  kazu/tests/test_disambiguation_strategies.py
Due: black, blacken-docs, flake8

fix broken sphinx link for disambiguation essential
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

changed signature of disambiguate to include ent_match and ent_match_norm (both optional)
  kazu/steps/linking/post_processing/disambiguation/strategies.py
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
  kazu/tests/test_linking_strategy_runner.py
Due: black, blacken-docs, flake8

towncrier: PreferDefaultLabelMatchDisambiguationStrategy.
  docs/_changelog.d/+prefdefaultlabel.feature.rst
Due: blacken-docs

added loaded_parsers property to MetadataDatabase for backwards compatibility
  kazu/database/in_memory_db.py
Due: black, blacken-docs, flake8

docs reformatting
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

towncrier snippet for new metadatadb signature
  docs/_changelog.d/+metadbaddparser.removal.rst
Due: blacken-docs

redefined loaded_parsers to parser_name_to_ent_class, so that we can also retrieve parser entity mappings from anywhere
  kazu/database/in_memory_db.py
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

fixed docstring of DisambiguationStrategy.disambiguate
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

added warning to the unusual behaviour of PreferDefaultLabelMatchDisambiguationStrategy
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

added new test for test_PreferDefaultLabelMatchDisambiguationStrategy
  kazu/tests/test_disambiguation_strategies.py
Due: black, blacken-docs, flake8

updated configs for new PreferDefaultLabelMatchDisambiguationStrategy. This is triggered to only work on non-symbolic exact match entities
  kazu/conf/DisambiguationStrategies/default.yaml
  kazu/conf/MappingStep/default.yaml
Due: none

improve PreferDefaultLabelMatchDisambiguationStrategy description
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

Metadata typing now more accurate - can be Any rather than SimpleValue
  kazu/database/in_memory_db.py
Due: black, blacken-docs, flake8

added new config keys for - ot_bio_proc - ot_phenotype # - ot_measurement # curations are currently low quality - ot_medical_proc
  kazu/conf/config.yaml
Due: none

rewritten OpenTargetsDiseaseOntologyParser to use therapeutic ara field
  kazu/data/data.py
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

slightly improved xref score_and_group_ids comments and now using discard from set rather than remove
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

made the entity class of GO ontologies consistent with new OT biological process class
  kazu/conf/ontologies/go_bp.yaml
  kazu/conf/ontologies/go_cc.yaml
  kazu/conf/ontologies/go_mf.yaml
Due: none

Simplified string scorers to fewer keys, as they don't need to be distinct
  kazu/conf/StringScorers/default.yaml
  kazu/conf/ontologies/cellosaurus.yaml
  kazu/conf/ontologies/chembl.yaml
  kazu/conf/ontologies/cl.yaml
  kazu/conf/ontologies/clo.yaml
  kazu/conf/ontologies/go_bp.yaml
  kazu/conf/ontologies/go_cc.yaml
  kazu/conf/ontologies/go_mf.yaml
  kazu/conf/ontologies/ot_bio_proc.yaml
  kazu/conf/ontologies/ot_measurement.yaml
  kazu/conf/ontologies/ot_medical_proc.yaml
  kazu/conf/ontologies/ot_molecule.yaml
  kazu/conf/ontologies/stato.yaml
  kazu/conf/ontologies/uberon.yaml
Due: none

custom score_and_group_ids for OpenTargetsDiseaseOntologyParser now fails if any id is contained in two or more sets, rather than all sets.
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

removed hpo config key as is superceded by OT phenotype
  kazu/conf/config.yaml
Due: none

renamed entity labels for new GO entity class labels
  kazu/conf/MergeOverlappingEntsStep/default.yaml
Due: none

changed metadata db to instance attribute on OpenTargetsDiseaseOntologyParser
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8
