Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

fix for bug with bug with span-sharing entities across sections
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

formatting
  kazu/steps/linking/entity_class_disambiguation.py
  kazu/tests/test_entity_class_disambiguation.py
Due: black, flake8

Bump version: 0.0.21 → 0.0.22
  setup.cfg
  setup.py
Due: black

description for why we use gene class for gene family type
  kazu/conf/ontology_parser/default.yaml
Due: none

new gene group parser and configs
  kazu/conf/indices/default.yaml
  kazu/conf/ontology_parser/default.yaml
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

reworked loop in HGNCGeneFamilyParser to incorporate dropna
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

fix up docstrings
  kazu/web/server.py
Due: black, flake8

use logging's built-in string formatting
  kazu/web/jwtauth.py
  kazu/web/req_id_header.py
  kazu/web/server.py
Due: black, flake8

don't log id 'None' if we don't have auth configured
  kazu/web/server.py
Due: black, flake8

add logging to batch endpoint
  kazu/web/server.py
Due: black, flake8

fix logging bytes rather than string
  kazu/web/jwtauth.py
Due: black, flake8

fix middleware ordering
  kazu/conf/Middlewares/jwt.yaml
Due: none

log when user is unauthorized as well as raising
  kazu/web/jwtauth.py
Due: black, flake8

Remove Swagger auth buttons if no auth configured
  kazu/web/server.py
Due: black, flake8

bug fix for sentence offsets on Document.simple_document_from_sents
  kazu/data/data.py
Due: black, flake8

collecting auth string from auth widget
  frontend/src/components/text-submit.tsx
Due: none

added API endpoint for retrieving NER results in labelstudio format
  kazu/conf/LSWebUtils/default.yaml
  kazu/conf/config.yaml
  kazu/modelling/annotation/label_studio.py
  kazu/tests/test_label_studio.py
  kazu/web/ls_web_utils.py
  kazu/web/server.py
Due: black, flake8

improved logging
  kazu/web/server.py
Due: black, flake8

Bump version: 0.0.22 → 0.0.23
  setup.cfg
  setup.py
Due: black

make type hint more accurate and permissive
  kazu/utils/spacy_pipeline.py
Due: black, flake8

Make CharSpan frozen
  kazu/data/data.py
Due: black, flake8

simplify setting sentence spans from explosion.
  kazu/steps/joint_ner_and_linking/explosion.py
Due: black, flake8

simplify Section._sentence_spans
  kazu/data/data.py
Due: black, flake8

simplify stanza pipeline caching
  kazu/conf/StanzaPipeline/default.yaml
  kazu/steps/other/stanza.py
  kazu/utils/stanza_pipeline.py
Due: black, flake8

simplify cached spacy pipeline loading
  kazu/conf/SpacyPipeline/default.yaml
  kazu/modelling/ontology_preprocessing/synonym_generation.py
  kazu/steps/ner/entity_post_processing.py
  kazu/steps/ner/spacy_ner.py
  kazu/utils/spacy_pipeline.py
Due: black, flake8

rename attribute for simplicity
  kazu/steps/other/stanza.py
Due: black, flake8

update pip caching key to use pyproject.toml
  .github/workflows/integration_test.yml
Due: none

make pytest testpaths more specific
  pyproject.toml
Due: none

use absolute logo link for README, to work in PyPI
  README.md
Due: none

move mypy flags to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

make bumpversion work with the new build config
  kazu/__init__.py
  pyproject.toml
  setup.cfg
Due: black, flake8

move pytest config to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

use absolute links for rest of README.md
  README.md
Due: none

remove irrelevant comment
  pyproject.toml
Due: none

make release process work with new pyproject setup
  .github/workflows/release.yml
Due: none

move config from setup.py to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
Due: black

ignore only specified missing imports
  pyproject.toml
Due: none

move to hatch for build and versioning
  .bumpversion.cfg
  pyproject.toml
Due: none

move bumpversion config into its own file
  .bumpversion.cfg
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
