Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

reordered pipeline docs
  docs/default_pipeline.rst
Due: none

fixed indentation Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/ontology_parser.rst
Due: none

made ids consistent
  docs/ontology_parser.rst
Due: none

using hyperlinks consistently Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/ontology_parser.rst
Due: none

missed full stop
  docs/datamodel.rst
Due: none

added code block indent
  docs/default_pipeline.rst
Due: none

fixed indentation again Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/ontology_parser.rst
Due: none

minor adjustments
  docs/introduction.rst
Due: none

updated entity docstring
  kazu/data/data.py
Due: black, flake8

datamodel.rst now refers back to API documentation
  docs/datamodel.rst
Due: none

fixed missed specifying name Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/ontology_parser.rst
Due: none

fixed indents Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/label_studio_integration.rst
Due: none

fixed indents and other minor formatting Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/introduction.rst
Due: none

fixed indents Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/curating_for_explosion.rst
Due: none

fixed indents Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/default_pipeline.rst
Due: none

fixed sphinx warning about multiple targets Co-authored-by: Elliot Ford <elliot.ford@astrazeneca.com>
  docs/ontology_parser.rst
Due: none

fixed titles
  docs/curating_for_explosion.rst
  docs/datamodel.rst
  docs/default_pipeline.rst
  docs/index.rst
Due: none

reworked ontology_parser.rst to reflect new semantics of OntologyParser class
  docs/ontology_parser.rst
Due: none

typo
  docs/ontology_parser.rst
Due: none

docs build
  docs/_build/html/_sources/curating_for_explosion.rst.txt
  docs/_build/html/_sources/datamodel.rst.txt
  docs/_build/html/_sources/default_pipeline.rst.txt
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/curating_for_explosion.html
  docs/_build/html/datamodel.html
  docs/_build/html/default_pipeline.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/py-modindex.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
Due: none

fixed completely qualified names as not required
  docs/ontology_parser.rst
Due: none

small addition to doc string
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

remove empty runner folder
  kazu/runner/__init__.py
Due: black, flake8

bug - softmax dim should be -1 not 1
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

added origin to -u flag and branch name
  .github/workflows/release.yml
Due: none

reworked job to simpliy steps
  .github/workflows/release.yml
Due: none

Bump version: 0.0.8 → 0.0.9
  setup.cfg
  setup.py
Due: black

since we can't push to main, push version bump to release branch
  .github/workflows/release.yml
Due: none

attempting auto merge
  .github/workflows/release.yml
Due: none

missed -u param on git push
  .github/workflows/release.yml
Due: none

removed gh merge call as it doesnt work (permissions)
  .github/workflows/release.yml
Due: none

added utils for converting a Document to a json-ready dict
  kazu/data/data.py
  kazu/tests/test_data.py
Due: black, flake8

types cleanup
  kazu/data/data.py
Due: black, flake8

re-adding call to remove_empty_elements when generating Document dict
  kazu/data/data.py
Due: black, flake8

precommit
  kazu/data/data.py
  kazu/tests/test_data.py
Due: black, flake8

swapping out prev json serialisation code for new
  kazu/data/data.py
  kazu/tests/test_data.py
Due: black, flake8

removing empty elems after dropping unmapped ents, terms
  kazu/data/data.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
