Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

refactor: removed entity linking hard cases
  kazu/tests/utils.py
Due: black, flake8

added multilabel tinybern2 model configuration for the transformer NER step
  kazu/conf/TransformersModelForTokenClassificationNerStep/multilabel.yaml
  kazu/steps/ner/hf_token_classification.py
  kazu/tests/test_hf_token_classification.py
  kazu/tests/utils.py
Due: black, flake8

new label studio manager config
  kazu/conf/LabelStudioManager/default.yaml
Due: none

review: simplified transformer step hydra config using torch.nn.functional activation functions instead of equivalent pytorch modules code cleanup docs cleanup typing++
  kazu/conf/TransformersModelForTokenClassificationNerStep/multilabel.yaml
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

removed obsolete resources
  .github/workflows/latest_model_pack_path.py
  kazu/conf/MappingStep/no_xref.yaml
  kazu/conf/pipeline/default_fast.yaml
  kazu/conf/pipeline/default_no_abbrv.yaml
  kazu/conf/pipeline/entity_linking_only.yaml
  kazu/conf/pipeline/fast_full.yaml
  kazu/conf/pipeline/fast_no_abbrv.yaml
  kazu/conf/pipeline/fast_tiny.yaml
  kazu/conf/pipeline/slow_full.yaml
  kazu/conf/pipeline/slow_tiny.yaml
  kazu/conf/pipeline/tiny.yaml
Due: black, flake8

acceptance test is now a executable python module
  kazu/modelling/annotation/acceptance_test.py
Due: black, flake8

label studio manager default config
  kazu/conf/config.yaml
Due: none

scispacy pipeline now md size as only needed for dependency parsing
  kazu/conf/SpacyPipeline/default.yaml
Due: none

version is now 0.0.4 also bumpversion no longer commits by default
  setup.cfg
  setup.py
Due: black

removed meddra references in base config
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
  kazu/conf/MappingStep/default.yaml
  kazu/conf/SapBertForEntityLinkingStep/default.yaml
  kazu/conf/ontology_parser/default.yaml
Due: none

refactor - typo - missing bracket
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

updated integration test with new script
  .github/workflows/integration_test.yml
Due: none

refactor - code style on build_custom_pack_params
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

added new build and test executable module
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

added manual dispatch option to integration_test.yml, so it can be manually requested
  .github/workflows/integration_test.yml
Due: none

consistency checks are now run on release, (but not on integration tests as I don't think we want that there)
  .github/workflows/release.yml
Due: none

created release.yml
  .github/workflows/release.yml
Due: none

added option to also run corpus consistency checks
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

docs: fixed sphinx new line complaint
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

docs: fixed sphinx title complaint
  kazu/utils/string_normalizer.py
Due: black, flake8

docs: corrected inaccurate description of Label Studio requirement
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

docs: fixed flake8 trailing whitespace complaint
  kazu/utils/build_and_test_model_packs.py
Due: black, flake8

docs: included explosion tutorial
  docs/index.rst
Due: none

docs: end of line fixes
  docs/default_pipeline.rst
  docs/introduction.rst
  docs/kazu_webservice.rst
  docs/label_studio_integration.rst
  docs/ontology_parser.rst
  docs/scaling_kazu.rst
Due: none

docs: fixed minor formatting issues
  docs/introduction.rst
Due: none

Bump version: 0.0.7 → 0.0.8
  setup.cfg
  setup.py
Due: black

docs: initial docs update
  docs/datamodel.rst
  docs/default_pipeline.rst
  docs/index.rst
  docs/introduction.rst
  docs/kazu_webservice.rst
  docs/label_studio_integration.rst
  docs/ontology_parser.rst
  docs/pipeline_example.rst
  docs/scaling_kazu.rst
Due: none

added new sphinx docs
  docs/_autosummary/kazu.modelling.annotation.acceptance_test.rst
  docs/_autosummary/kazu.utils.build_and_test_model_packs.rst
  docs/_build/html/_autosummary/kazu.modelling.annotation.acceptance_test.html
  docs/_build/html/_autosummary/kazu.utils.build_and_test_model_packs.html
  docs/_build/html/_sources/_autosummary/kazu.modelling.annotation.acceptance_test.rst.txt
  docs/_build/html/_sources/_autosummary/kazu.utils.build_and_test_model_packs.rst.txt
Due: none

docs: The OntologyParser
  docs/index.rst
  docs/ontology_parser.rst
Due: none

docs: added writing a custom parser tutorial
  docs/ontology_parser.rst
Due: none

docs: fixed minor formatting issues
  docs/ontology_parser.rst
Due: none

black code improvements to pipeline_example.rst docs
  docs/pipeline_example.rst
Due: none

EFord36 ReST formatting corrections
  docs/introduction.rst
Due: none

improvement to docs/pipeline_example.rst
  docs/pipeline_example.rst
Due: none

minor formatting of docs
  docs/datamodel.rst
Due: none

further improvements to ontology docs
  docs/ontology_parser.rst
Due: none

improvements to ontology parser docs
  docs/ontology_parser.rst
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
