Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

refactor: can now use self, instead of Class reference
  kazu/modelling/annotation/label_studio.py
Due: black, flake8

refactor: file name typo
  kazu/tests/test_label_studio.py
Due: black, flake8

refactor: consistency of new line in yaml file
  kazu/conf/MappingStep/default.yaml
Due: none

refactor: consistent whitespace in mappingstep default yaml
  kazu/conf/MappingStep/default.yaml
Due: none

fix model_pack helper script dir
  .github/workflows/integration_test.yml
Due: none

added integ. test and utils for finding model_packs
  .github/workflows/integration_test.yml
  .github/workflows/latest_model_pack_path.py
Due: black, flake8

fixing workflow yml
  .github/workflows/integration_test.yml
Due: none

setting up java 11 before test
  .github/workflows/integration_test.yml
Due: none

setting up python before running model_pack check script
  .github/workflows/integration_test.yml
Due: none

reformatting
  .github/workflows/latest_model_pack_path.py
Due: black, flake8

workflow fixes
  .github/workflows/integration_test.yml
Due: none

TOKENIZERS_PARALLELISM false for integ tests
  .github/workflows/integration_test.yml
Due: none

fixed set-output statement
  .github/workflows/integration_test.yml
Due: none

using step outputs
  .github/workflows/integration_test.yml
Due: none

bumping pt-lightning version, utilising pt-lightning disable-fork flag to fix hanging when searching for cuda devices
  .github/workflows/integration_test.yml
  setup.py
Due: black

maybe fixing gradle cmd
  .github/workflows/integration_test.yml
Due: none

removing gradle build step (see #283)
  .github/workflows/integration_test.yml
Due: none

reformatting
  .github/workflows/integration_test.yml
Due: none

proxy config for grade task
  .github/workflows/integration_test.yml
Due: none

adding comments
  .github/workflows/integration_test.yml
  .github/workflows/latest_model_pack_path.py
Due: black, flake8

triggering integ. test on PR to main, setting good default for model-pack-dir in the k8s runner
  .github/workflows/integration_test.yml
Due: none

feat: added optional xref_source_parser_name field for mappings created from xref manager
  kazu/data/data.py
Due: black, flake8

feat: config for CrossReferenceManager
  kazu/conf/MappingStep/default.yaml
Due: none

feat: new crossref manager
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

setting default model-packs-dir when workflow runs with no inputs
  .github/workflows/integration_test.yml
Due: none

feat: strategy_runner.py now uses CrossReferenceManager
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

feat: added optional xref_source_parser_name field in MappingFactory
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

single quotes for workflow string literals
  .github/workflows/integration_test.yml
Due: none

bug: CrossReferenceManager now correctly applies uri prefix to id's when creating cache
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

bug: HP sourced mappings now looks for metadata in OPENTARGETS_DISEASE parser
  kazu/conf/MappingStep/default.yaml
Due: none

feat: improved IndexError message
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

feat: strategy runner now knows which source-> parser mappings it should take metadata from
  kazu/conf/MappingStep/default.yaml
Due: none

bug: CrossReferenceManager now produces mappings with correct parser details, handling index misses correctly
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

feat: parameterised various aspects of oxo mapper
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

feat: abstracted CrossReferenceManager
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

feat: strategy runner now uses abstracted CrossReferenceManager. Also supports multiple
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

feat: config now uses abstracted CrossReferenceManager
  kazu/conf/MappingStep/default.yaml
Due: none

docs: path not optional
  kazu/steps/linking/post_processing/xref_manager.py
Due: black, flake8

bug: need _covert_ partial for proper request formation
  kazu/conf/MappingStep/default.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
