Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

added dev dependencies
  setup.cfg
Due: none

updated setup.py
  setup.py
Due: black

added dev dependencies
  setup.cfg
  setup.py
Due: black

added Dockerfile and .dockerignore
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  requirements-dev.txt
  scripts/azure/init_azure_resources.sh
  setup.cfg
  setup.py
Due: black

deleted routes.py azner_runner.py and oold hydra config.yaml
  azner/azner/conf/__init__.py
  azner/azner/conf/config.yaml
  azner/azner/runner/azner_runner.py
  azner/azner/web/routes.py
  azner/tests/test_azner_runner.py
Due: black, flake8

added data.py
  azner/data/__init__.py
  azner/data/data.py
Due: black, flake8

added BaseStep class
  azner/steps/base/__init__.py
  azner/steps/base/step.py
Due: black, flake8

added test for hf ner step and associated utils.py class
  azner/tests/test_hf_token_classification.py
  azner/tests/utils.py
Due: black, flake8

added hf token classification step, and associated utils.py
  azner/steps/__init__.py
  azner/steps/ner/__init__.py
  azner/steps/ner/bio_label_parser.py
  azner/steps/ner/hf_token_classification.py
  azner/steps/utils/__init__.py
  azner/steps/utils/utils.py
Due: black, flake8

docs for utils.py
  azner/steps/utils/utils.py
Due: black, flake8

docs for bio_label_parser.py
  azner/steps/ner/bio_label_parser.py
Due: black, flake8

added default.yaml for hydra for TransformersModelForTokenClassificationo
  azner/conf/TransformersModelForTokenClassificationNerStep/default.yaml
Due: none

added default.yaml for hydra for TransformersModelForTokenClassificationo
  azner/conf/TransformersModelForTokenClassificationNerStep/default.yaml
  azner/conf/__init__.py
  azner/conf/config.yaml
  azner/conf/pipeline/default.yaml
  azner/conf/ray/cluster.yaml
  azner/conf/ray/local.yaml
Due: black, flake8

moved server.py and test_server.py. added routes.py
  azner/__init__.py
  azner/azner/conf/ray/cluster.yaml
  azner/azner/conf/ray/local.yaml
  azner/azner/runner/__init__.py
  azner/azner/web/__init__.py
  azner/runner/__init__.py
  azner/tests/test_server.py
  azner/web/routes.py
  azner/web/server.py
  setup.py
Due: black, flake8

fix for types: Entity metadata shold be of type Optional[EntityMetadata]
  azner/data/data.py
Due: black, flake8

reorganised lighting wrappers for HF models so they can be used in other places.
  azner/data/pytorch.py
  azner/modelling/__init__.py
  azner/modelling/hf_lightning_wrappers.py
  azner/steps/ner/hf_token_classification.py
Due: black, flake8

added __init__.py to modelling
  azner/modelling/training/__init__.py
Due: black, flake8

docs for pipeline.py
  azner/pipeline/pipeline.py
Due: black, flake8

docs for stopwatch.py
  azner/utils/stopwatch.py
Due: black, flake8

added additional assert to token classification test to ensure successful docs equal to input docs
  azner/tests/test_hf_token_classification.py
Due: black, flake8

added test for bio label parser
  azner/__init__.py
  azner/steps/ner/bio_label_parser.py
  azner/tests/test_bio_label_parser.py
Due: black, flake8

added first sapbert implementation
  azner/steps/linking/__init__.py
  azner/steps/linking/sapbert.py
  azner/steps/utils/utils.py
  azner/tests/test_assets/sapbert/tiny_chembl.parquet
  azner/tests/test_sapbert.py
  azner/tests/utils.py
Due: black, flake8

added utils functions for hashing entities in different ways and updating mappings
  azner/steps/utils/utils.py
Due: black, flake8

added sapbert hydra configs
  azner/conf/SapBertForEntityLinkingStep/default.yaml
  azner/conf/config.yaml
Due: none

ignoring lightning logs and cached files
  .gitignore
Due: none

parameterised trainer for sapbert.py
  azner/steps/linking/sapbert.py
Due: black, flake8

added hydra config for sapbert trainer
  azner/conf/SapBertForEntityLinkingStep/default.yaml
Due: none

added source as an additional piece of linking information to test for
  azner/tests/test_assets/sapbert/tiny_chembl.parquet
  azner/tests/test_sapbert.py
  azner/tests/utils.py
Due: black, flake8

kb for embedding generation should now also include a source column
  azner/steps/linking/sapbert.py
Due: black, flake8

added new get_entities method to Document
  azner/data/data.py
Due: black, flake8

added function to get a cache path for a file
  azner/conf/SapBertForEntityLinkingStep/default.yaml
  azner/steps/linking/sapbert.py
  azner/steps/utils/utils.py
  azner/tests/test_sapbert.py
Due: black, flake8

added add_mapping to entity class
  azner/data/data.py
  azner/steps/linking/sapbert.py
  azner/steps/utils/utils.py
Due: black, flake8

fixed attention mask parameter
  azner/modelling/hf_lightning_wrappers.py
Due: black, flake8

added mondo preprocessing script
  scripts/ontology_preprocessing/mondo.py
Due: black, flake8

docs for mondo.py
  scripts/ontology_preprocessing/mondo.py
Due: black, flake8

added attention mask to HF dataset
  azner/data/pytorch.py
Due: black, flake8

first passing test of sapbert with faiss
  azner/modelling/linking/__init__.py
  azner/modelling/linking/sapbert/__init__.py
  azner/steps/linking/sapbert.py
  azner/steps/utils/utils.py
  azner/tests/test_sapbert.py
  azner/tests/utils.py
Due: black, flake8

added embedding_index.py
  azner/steps/utils/embedding_index.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
