Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

fixed commit index in test_discrepancy_manager_sync
  kazu/tests/test_krt_managers.py
Due: black, blacken-docs, flake8

strict mode on conflict analyser: if True, then the function will return True if there are multiple mention confidences for a given string, regardless of case sensitivity
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

moved DEFAULT_LABEL etc to constants.py to avoid circular imports
  kazu/ontology_preprocessing/base.py
  kazu/ontology_preprocessing/constants.py
Due: black, blacken-docs, flake8

moved load_config to a location to avoid circular imports
  kazu/krt/__init__.py
  kazu/krt/components.py
  kazu/krt/ontology_update_editor/utils.py
  kazu/krt/utils.py
Due: black, blacken-docs, flake8

update OT versions for molecule and measurement
  kazu/conf/ontologies/ot_measurement.yaml
  kazu/conf/ontologies/ot_molecule.yaml
Due: none

removed commented out key
  kazu/conf/ontologies/hgnc_gene_family.yaml
Due: none

Do not clear state on _add_new_resource_form parser select
  kazu/krt/string_editor/components.py
Due: black, blacken-docs, flake8

load_config is now a cached_resource
  kazu/krt/utils.py
Due: black, blacken-docs, flake8

ResourceDiscrepancyResolutionForm is now stateful to simplify what happens when a different parser is selected
  kazu/krt/resource_discrepancy_editor/components.py
Due: black, blacken-docs, flake8

new ChemblParquetOntologyDownloader handles preprocessing of chembl DB to avoid commiting large chembl sqllite db to repo
  kazu/ontology_preprocessing/downloads.py
Due: black, blacken-docs, flake8

created OntologyUpdateManager to facilitate updating ontologies via the streamlit app
  kazu/krt/ontology_update_editor/utils.py
Due: black, blacken-docs, flake8

changed log message to ref KRT
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

minor doc improvements
  kazu/ontology_preprocessing/downloads.py
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

updated ontology configs with downloader components
  kazu/conf/ontologies/cellosaurus.yaml
  kazu/conf/ontologies/chembl.yaml
  kazu/conf/ontologies/cl.yaml
  kazu/conf/ontologies/clo.yaml
  kazu/conf/ontologies/go_bp.yaml
  kazu/conf/ontologies/go_cc.yaml
  kazu/conf/ontologies/go_mf.yaml
  kazu/conf/ontologies/hgnc_gene_family.yaml
  kazu/conf/ontologies/hpo.yaml
  kazu/conf/ontologies/mondo.yaml
  kazu/conf/ontologies/ot_bio_proc.yaml
  kazu/conf/ontologies/ot_disease.yaml
  kazu/conf/ontologies/ot_measurement.yaml
  kazu/conf/ontologies/ot_medical_proc.yaml
  kazu/conf/ontologies/ot_molecule.yaml
  kazu/conf/ontologies/ot_phenotype.yaml
  kazu/conf/ontologies/ot_target.yaml
  kazu/conf/ontologies/stato.yaml
  kazu/conf/ontologies/uberon.yaml
Due: none

resource manager is now aware of any actions that can invalidate the parser caches. Also added methods to load an instance of the pipeline in a cache aware fashion
  kazu/krt/resource_manager.py
Due: black, blacken-docs, flake8

Bump version: 2.0.0 → 2.1.0
  CHANGELOG.md
  docs/_changelog.d/+donwloader.feature.rst
  docs/_changelog.d/+krt.feature.rst
  docs/_changelog.d/+ontupdate.feature.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

build_and_test_model_packs.py will now throw an assertion error if multiple packs are built with debug mode on
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

fixed bug in model pack build where build config acceptance test param was not respected
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

fixed a bug where upgrading a resource won't work if there's no downloader configured
  kazu/krt/ontology_update_editor/components.py
Due: black, blacken-docs, flake8

_convert_=all required in hydra instantiation due to third party libraries not respecting list like types
  kazu/krt/ontology_update_editor/utils.py
  kazu/krt/resource_manager.py
  kazu/krt/utils.py
Due: black, blacken-docs, flake8

entity class config for chembl is now hard coded to 'drug' as it may be necessary to use this autocurator when the CHEMBL parser isn't loaded (e.g in OT_MOLECULE)
  kazu/conf/autocurator/default.yaml
Due: none

updated release command to public pypi
  .github/workflows/release.yml
Due: none

Bump version: 2.1.0 → 2.1.1
  CHANGELOG.md
  kazu/__init__.py
Due: black, blacken-docs, flake8

added missing pyarrow dependency after change in how Chembl resource is built
  pyproject.toml
Due: none

[Docs] Add documentation for webservice (kazu_webservice.rst)
  docs/kazu_webservice.rst
Due: blacken-docs

[Misc] Add environment used for testing the tutorial
  docs/kazu_webservice.rst
Due: blacken-docs

[Misc] Run pre-commit
  docs/kazu_webservice.rst
Due: blacken-docs

[Feat] Demo main page
  kazu/web/server.py
  kazu/web/static/index.html
Due: black, blacken-docs, flake8

Update kazu_webservice.rst
  docs/kazu_webservice.rst
Due: blacken-docs

pinned sphinx to <8.0 as is causing intersphinx issues
  pyproject.toml
Due: none

fixed a typing issue found by mypy 1.11.2
  kazu/data/__init__.py
Due: black, blacken-docs, flake8

fixed redundant casts after streamlit upgrade
  kazu/krt/components.py
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
