Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]
  
  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: python
    entry:  mypy
    types: [python] 
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

- repo: https://github.com/PyCQA/docformatter
  rev: v1.6.1
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^docs/_autosummary|\
      ^kazu/tests/test_assets/tinybern"

docs: no 'edit this page' button if it's autogenerated
  docs/_templates/autosummary/module.rst
  docs/_templates/components/edit-this-page.html
Due: blacken-docs

make SpanFinder.__call__ return found spans
  kazu/steps/ner/tokenized_word_processor.py
Due: black, blacken-docs, flake8

fix tfidf hashing behaviour
  kazu/utils/link_index.py
Due: black, blacken-docs, flake8

add news snippets
  docs/_changelog.d/+spanfinderreturn.feature.rst
  docs/_changelog.d/+tfidfthashing.bugfix.rst
Due: blacken-docs

Bump version: 1.0.2 → 1.0.3
  CHANGELOG.md
  docs/_changelog.d/+deadcode.removal.rst
  docs/_changelog.d/+docformatter.doc.rst
  docs/_changelog.d/+improvespacytokenization.feature.rst
  docs/_changelog.d/+jsontypehint.removal.rst
  docs/_changelog.d/+spanfinderreturn.feature.rst
  docs/_changelog.d/+strictmypy.feature.rst
  docs/_changelog.d/+tfidfthashing.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

add sphinx upper pin
  pyproject.toml
Due: none

docs: add pytorch installation instructions
  docs/quickstart.rst
Due: blacken-docs

ci: add manual dispatch to dev deployment
  .github/workflows/deploy-dev.yaml
Due: none

ci: add pytorch custom install to Docker files
  deploy/Dockerfile
  deploy/temporary/Dockerfile
Due: none

ci: improve pytorch install process
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

docs: add missing full stop
  docs/quickstart.rst
Due: blacken-docs

Update kazu-jvm/src/main/scala/com/astrazeneca/kazu/OpsinRunner.scala
  kazu-jvm/src/main/scala/com/astrazeneca/kazu/OpsinRunner.scala
Due: none

update opsin entity class match logic
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

update condition and opsin test logic
  kazu/steps/ner/opsin.py
  kazu/tests/test_opsin.py
Due: black, blacken-docs, flake8

add back missing doc quotes
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

Update kazu/steps/ner/opsin.py
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

add debug logging for opsin
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

Update kazu-jvm/src/test/scala/com/astrazeneca/kazu/OpsinRunnerTest.scala
  kazu-jvm/src/test/scala/com/astrazeneca/kazu/OpsinRunnerTest.scala
Due: none

add mypy override for rdkit to ignore missing typing
  pyproject.toml
Due: none

remove test example already implemented in test_opsin.py
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

fix broken opsin test
  kazu/tests/test_opsin.py
Due: black, blacken-docs, flake8

docs: add missing newline to README.md
  README.md
Due: blacken-docs

docs: remove duplicate param description
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

update test_opsin.py
  kazu/steps/ner/opsin.py
  kazu/tests/test_opsin.py
Due: black, blacken-docs, flake8

added opsin test for invalid entity class
  kazu/tests/test_opsin.py
Due: black, blacken-docs, flake8

add Opsin pipeline step and dependencies
  kazu-jvm/README.md
  kazu-jvm/build.gradle
  kazu-jvm/src/main/scala/com/astrazeneca/kazu/OpsinRunner.scala
  kazu-jvm/src/test/scala/com/astrazeneca/kazu/OpsinRunnerTest.scala
  kazu/conf/OpsinStep/default.yaml
  kazu/conf/config.yaml
  kazu/steps/ner/opsin.py
  kazu/tests/test_opsin.py
  pyproject.toml
Due: black, blacken-docs, flake8

improve documentation on opsin
  README.md
  docs/default_pipeline.rst
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

dont add mappings, create new entities with mapping
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8
