Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]
    exclude: setup.py

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^docs/_autosummary|\
      ^kazu/tests/test_assets/tinybern"

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        additional_dependencies: [types-requests,types-cachetools]

removed hash from CuratedTerm as it's not used
  kazu/data/data.py
Due: black, flake8

removed references to CuratedTermDataset
  kazu/tests/test_ontology_parser.py
  kazu/tests/utils.py
Due: black, flake8

configs update with parser name and additional_synonyms injection
  kazu/conf/ontology_parser/default.yaml
Due: none

docs for additional_synonyms
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

clarify 'start' and 'end' Entity params in docs
  docs/single_step_example.rst
Due: none

docs build
  docs/_autosummary/kazu.steps.step.rst
  docs/_build/html/_autosummary/kazu.modelling.language.string_similarity_scorers.html
  docs/_build/html/_autosummary/kazu.steps.joint_ner_and_linking.explosion.html
  docs/_build/html/_autosummary/kazu.steps.step.html
  docs/_build/html/_autosummary/kazu.web.jwtauth.html
  docs/_build/html/_autosummary/kazu.web.server.html
  docs/_build/html/_sources/_autosummary/kazu.steps.step.rst.txt
  docs/_build/html/_sources/_autosummary/kazu.web.jwtauth.rst.txt
  docs/_build/html/_sources/ontology_parser.rst.txt
  docs/_build/html/_sources/single_step_example.rst.txt
  docs/_build/html/datamodel.html
  docs/_build/html/genindex.html
  docs/_build/html/objects.inv
  docs/_build/html/ontology_parser.html
  docs/_build/html/quickstart.html
  docs/_build/html/searchindex.js
  docs/_build/html/single_step_example.html
Due: none

make query string match copy earlier in doc
  docs/ontology_parser.rst
Due: none

docs build
  docs/_build/html/_sources/ontology_parser.rst.txt
  docs/_build/html/ontology_parser.html
Due: none

loosen pytorch-lightning requirements
  setup.py
Due: black

handle undeclared tensorboard dependency
  kazu/pipeline/pipeline.py
  setup.py
Due: black, flake8

Add in psutil dependency
  setup.py
Due: black

remove fastparquet dependency
  setup.py
Due: black

remove torchaudio and torchvision dependencies
  setup.py
Due: black

loosen required dependency versions
  setup.py
Due: black

move webserver dependencies to extras_require group
  setup.py
Due: black

formatting
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

typing++
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

typing++
  kazu/steps/other/stanza.py
Due: black, flake8

simplified dictionary construction
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

fixed bugs in sentence context, expanded test case, simplified grouping method
  kazu/data/data.py
  kazu/steps/linking/entity_class_disambiguation.py
  kazu/tests/test_entity_class_disambiguation.py
Due: black, flake8

formatting
  kazu/data/data.py
  kazu/steps/linking/entity_class_disambiguation.py
  kazu/tests/test_entity_class_disambiguation.py
Due: black, flake8

doc fixes
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

added CL parser
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

dictionaryindex config for cl parser
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
Due: none

config for cl parser. also bumped chembl to 31
  kazu/conf/ontology_parser/default.yaml
Due: none

precommit
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
  kazu/conf/ontology_parser/default.yaml
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

added dev and webserver to install tests
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

force fetch tags
  .github/workflows/release.yml
Due: none

Bump version: 0.0.13 → 0.0.14
  setup.cfg
  setup.py
Due: black

change jwauth logger to ray
  kazu/web/jwtauth.py
Due: black, flake8

log successful request input
  kazu/web/server.py
Due: black, flake8

change to no f string
  kazu/web/jwtauth.py
Due: black, flake8

remove id generation
  kazu/web/jwtauth.py
Due: black, flake8

reformat
  kazu/web/jwtauth.py
Due: black, flake8

fix bug in minified dict
  kazu/data/data.py
Due: black, flake8

serialisation bug fix
  kazu/data/data.py
  kazu/tests/test_data.py
Due: black, flake8

add unauthorised access to docs
  kazu/web/jwtauth.py
Due: black, flake8

add root to unauth access
  kazu/web/jwtauth.py
Due: black, flake8

Bump version: 0.0.14 → 0.0.15
  setup.cfg
  setup.py
Due: black

company normaliser
  kazu/utils/string_normalizer.py
Due: black, flake8
