Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

docs: add changelong about previous quantisation feature
  docs/_changelog.d/model_quantization.feature.rst
Due: blacken-docs

docs: rename changelong file to bugfix
  docs/_changelog.d/starlette_fastapi_upgrade.bugfix.rst
Due: blacken-docs

docs: add changelog fragment for starlette and fastapi upgrade
  docs/_changelog.d/starlette_fastapi_upgrade.misc.rst
Due: blacken-docs

fix: upgrade starlette and fastapi to address vulnerabilites
  deploy/Dockerfile
  kazu/web/server.py
  pyproject.toml
Due: black, blacken-docs, flake8

Bump version: 2.3.0 → 2.4.0
  CHANGELOG.md
  docs/_changelog.d/model_quantization.feature.rst
  docs/_changelog.d/starlette_fastapi_upgrade.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

Bump version: 2.3.0 → 2.4.0 (#90)
  CHANGELOG.md
  docs/_changelog.d/model_quantization.feature.rst
  docs/_changelog.d/starlette_fastapi_upgrade.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

fix: update python min version following starlette bump
  pyproject.toml
Due: none

fix: update python min version following starlette bump (#91)
  pyproject.toml
Due: none

fix: correct python version in readme
  README.md
Due: blacken-docs

fix: correct python version in readme (#92)
  README.md
Due: blacken-docs

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
