Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

fixed a typing issue found by mypy 1.11.2
  kazu/data/__init__.py
Due: black, blacken-docs, flake8

pinned sphinx to <8.0 as is causing intersphinx issues
  pyproject.toml
Due: none

fixed redundant casts after streamlit upgrade
  kazu/krt/components.py
Due: black, blacken-docs, flake8

feat: update page with git-lfs commands
  docs/development_setup.rst
Due: blacken-docs

feat: make a new page for development setup
  .gitignore
  docs/development_setup.rst
  docs/index.rst
Due: blacken-docs

refactor: pre-commits after rebase
  docs/development_setup.rst
Due: blacken-docs

feat: make a new page for development setup (#64)
  .gitignore
  docs/development_setup.rst
  docs/index.rst
Due: blacken-docs

made method private
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

moved word_is_valid to utils class so that it can be used in multiple locations
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
  kazu/utils/utils.py
Due: black, blacken-docs, flake8

spacy_ner.py can now add sentence spans if requested
  kazu/steps/ner/spacy_ner.py
Due: black, blacken-docs, flake8

added ConflictScorer to gliner.py to allow for different conflict resolution techniques. Also added some more parameters to allow e.g. device configuration.
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

NEEDS REBASE
  kazu/annotation/label_studio.py
  kazu/training/__init__.py
  kazu/training/config.py
  kazu/training/modelling.py
  kazu/training/train_multilabel_ner.py
  kazu/training/train_script.py
Due: black, blacken-docs, flake8

fixed Sequence type call to random.sample
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

feat: update docs about how to update changelog
  docs/development_setup.rst
Due: blacken-docs

fix: pip command in docs raised in #56
  docs/default_pipeline.rst
  docs/quickstart.rst
Due: blacken-docs

fix: issue with roman numeral X being converted to 10
  kazu/tests/test_string_normalizer.py
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

fix: pylance errors and keep same style as rest of codebase
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

feat: update changelog
  docs/_changelog.d/chromosomeX.bugfix.rst
  docs/_changelog.d/docs_pip_command.bugfix.rst
Due: blacken-docs

[Docs] Add documentation for webservice (kazu_webservice.rst)
  docs/kazu_webservice.rst
Due: blacken-docs

[Misc] Add environment used for testing the tutorial
  docs/kazu_webservice.rst
Due: blacken-docs

Update kazu_webservice.rst
  docs/kazu_webservice.rst
Due: blacken-docs

[Misc] Run pre-commit
  docs/kazu_webservice.rst
Due: blacken-docs

fixed short line on swagger header
  docs/kazu_webservice.rst
Due: blacken-docs

added missing pyarrow dependency after change in how Chembl resource is built
  pyproject.toml
Due: none

Update kazu_webservice.rst (Use pip to install)
  docs/kazu_webservice.rst
Due: blacken-docs

added multiword autocuration action and added to basic
  kazu/conf/autocurator/default.yaml
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

fixed some UBERON curations
  resources/kazu_model_pack_public/ontologies/UBERON_curations.jsonl/0.jsonl
Due: none

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
