Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]
  
  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: python
    entry:  mypy
    types: [python] 
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

- repo: https://github.com/PyCQA/docformatter
  rev: v1.6.1
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^docs/_autosummary|\
      ^kazu/tests/test_assets/tinybern"

docs: tidy up parse_to_dataframe docstring
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

docs: add detail to TabularOntologyParser docs
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: add module docstring to parsers.py
  docs/ontology_parser.rst
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

style: underscore before unused variables
  kazu/tests/test_memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

fixed broken sphinx docs because of string interpolation
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

config for new syn generators
  kazu/conf/SynonymGeneration/default.yaml
Due: none

we now use str.format to populate templates in VerbPhraseVariantGenerator
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

fixed broken indent in SpacyPipelines
  kazu/utils/spacy_pipeline.py
Due: black, blacken-docs, flake8

added tqdm dependency as is required by syn generation
  pyproject.toml
Due: none

removed duplicate templates from config
  kazu/conf/SynonymGeneration/default.yaml
Due: none

simplified params for VerbPhraseVariantGenerator and improved docs. Also made SynoymGenerator.call abstract again
  kazu/conf/SynonymGeneration/default.yaml
  kazu/ontology_preprocessing/synonym_generation.py
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

added "types-tqdm" to pyproject.toml
  pyproject.toml
Due: none

added caching and better logging to SynonymGenerator and CombinatorialSynonymGenerator to increase speed
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

added VerbPhraseVariantGenerator and TokenListReplacementGenerator
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

missing full stop in docs
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

improved synonym_generation.py docs and made a couple of methods private
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

tests for VerbPhraseVariantGenerator and TokenListReplacementGenerator
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

pipeline instantiation is now _convert_="all" to propagate primitive types to kazu components that require them
  kazu/conf/Pipeline/default.yaml
  kazu/pipeline/pipeline.py
Due: black, blacken-docs, flake8

syn generation news snippets
  docs/_changelog.d/+newsyngeneration.feature.rst
  docs/_changelog.d/+syngenerationcache.feature.rst
Due: blacken-docs

docs: add instructions for setting model pack var
  docs/quickstart.rst
Due: blacken-docs

style: remove unneeded hash=True
  kazu/data/data.py
Due: black, blacken-docs, flake8

Bump version: 1.1.2 → 1.2.0
  CHANGELOG.md
  docs/_changelog.d/+newsyngeneration.feature.rst
  docs/_changelog.d/+syngenerationcache.feature.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

docs: fix version number in model pack env var commands
  docs/quickstart.rst
Due: blacken-docs

docs: add '**' for kwargs param in TabularOntologyParser
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: fix backticks in TabularOntologyParser docs
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

added xref manager config to public mapping step, now that mondo no longer includes HPO references
  kazu/conf/MappingStep/default.yaml
Due: none

added HPO config
  kazu/conf/config.yaml
  kazu/conf/ontologies/hpo.yaml
Due: none

created HPOntologyParser as we need a find_kb function for this parser
  kazu/conf/ontologies/hpo.yaml
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

using ontology .name keys in xref mapper config
  kazu/conf/MappingStep/default.yaml
Due: none

fix sentence structure
  docs/introduction.rst
Due: blacken-docs

consistent capitalization
  docs/introduction.rst
Due: blacken-docs

remove space
  docs/quickstart.rst
Due: blacken-docs

add dot
  docs/quickstart.rst
Due: blacken-docs

spelling of spaCy
  docs/default_pipeline.rst
Due: blacken-docs

fix typo
  docs/default_pipeline.rst
Due: blacken-docs
