Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

added return types to __init__ on AutoCurationAction and AutoCurator
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

Towncrier - multiword
  docs/_changelog.d/+curations.bugfix.rst
Due: blacken-docs

multiword now only fires if the detected whitespace occurs in the middle part of a string
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

removed unnecessary nesting in autocuration.py
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

fixed some UBERON curations
  resources/kazu_model_pack_public/ontologies/UBERON_curations.jsonl/0.jsonl
Due: none

added multiword autocuration action and added to basic
  kazu/conf/autocurator/default.yaml
  kazu/ontology_preprocessing/autocuration.py
Due: black, blacken-docs, flake8

TransformersModelForTokenClassificationNerStep now supports multilabel classification models.
  kazu/steps/ner/hf_token_classification.py
Due: black, blacken-docs, flake8

Simplified Spanfinder:
  kazu/steps/ner/tokenized_word_processor.py
Due: black, blacken-docs, flake8

Remvoed unused IS_SUBSPAN constant
  kazu/data/__init__.py
Due: black, blacken-docs, flake8

updated tests for TokenizedWordProcessor
  kazu/tests/test_tokenized_word_processor.py
Due: black, blacken-docs, flake8

updated config for TransformersModelForTokenClassificationNerStep. Removed obsolete multilabel.yaml
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
  kazu/conf/TransformersModelForTokenClassificationNerStep/multilabel.yaml
Due: none

fixed bug in HFDataset where all items were given the input_ids key, instead of their proper name
  kazu/steps/ner/hf_token_classification.py
Due: black, blacken-docs, flake8

corrected input keys for default bert model
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
Due: none

changed device param to string, with 'cpu' as default
  kazu/steps/ner/hf_token_classification.py
Due: black, blacken-docs, flake8

removed redundant test
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

fixed mixed up doc strings
  kazu/steps/ner/hf_token_classification.py
Due: black, blacken-docs, flake8

bunch of nit picks on tokenized_word_processor.py
  kazu/steps/ner/tokenized_word_processor.py
Due: black, blacken-docs, flake8

slightly improved test to test 'first class found' functionality
  kazu/tests/test_llm_ner_step.py
Due: black, blacken-docs, flake8

added openai and google-cloud-aiplatform to all-steps dependencies
  pyproject.toml
Due: none

new LLMNERStep to perform NER with LLMs
  kazu/steps/ner/llm_ner.py
Due: black, blacken-docs, flake8

refactor: move llm depends to optional
  pyproject.toml
Due: none

tests for LLMNERStep
  kazu/tests/test_llm_ner_step.py
Due: black, blacken-docs, flake8

small optimisations for building the automaton
  kazu/steps/ner/llm_ner.py
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
