Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

removed unnecessary set call
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

in assert_matches, we now compare the match data set with this parser data set directly, for better info from pytest
  kazu/tests/test_memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

fixed wrong namespace ref in config: step_groups: ner_only: - _target_: kazu.steps.joint_ner_and_linking.memory_efficient_string_matching.MemoryEfficientStringMatchingStep.namespace
  kazu/conf/Pipeline/default.yaml
Due: none

generalised documentation
  kazu/data/data.py
Due: black, blacken-docs, flake8

added ("py:class", "ahocorasick.Automaton") to nitpick ignore
  docs/conf.py
Due: black, blacken-docs, flake8

mypy: make overrides for 'less strictness' module-specific
  pyproject.toml
Due: none

tests: add opsin tests for extendString
  kazu/tests/test_opsin.py
Due: black, blacken-docs, flake8

fix up opsin logging
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

opsin - keep metadata and MentionConfidence on new entity
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

docs: add docstrings for opsin methods
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

refactor: rewrite OpsinStep.extendString for efficiency
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

refactor: make opsin BREAKS a set
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

use dict literal in opsin over dict()
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

docs: use .md for news snippets
  docs/_changelog.d/+allstepsdeps.feature.md
  docs/_changelog.d/+improvedgenegrouping.feature.md
  docs/_changelog.d/+modelpackbuilding.removal.md
  docs/_changelog.d/+opsinstep.feature.md
  docs/_changelog.d/+perfimprovements.feature.md
  docs/_changelog.d/+removeerroneouswarnings.bugfix.md
  docs/_changelog.d/+spacyvocabmanagement.feature.md
  docs/_changelog.d/+stringmatchingv2.feature.md
  docs/_changelog.d/+unmappedtinybernentsdropped.feature.md
Due: blacken-docs

docs: backfill of news snippets from recent PRs
  docs/_changelog.d/+modelpackbuilding.removal.rst
  docs/_changelog.d/+perfimprovements.feature.rst
  docs/_changelog.d/+spacyvocabmanagement.feature.rst
  docs/_changelog.d/+stringmatchingv2.feature.rst
  docs/_changelog.d/+unmappedtinybernentsdropped.feature.rst
Due: blacken-docs

skipping explosion test for now
  kazu/tests/test_explosion_ner.py
Due: black, blacken-docs, flake8

Bump version: 1.0.3 → 1.1.0
  CHANGELOG.md
  docs/_changelog.d/+allstepsdeps.feature.md
  docs/_changelog.d/+improvedgenegrouping.feature.md
  docs/_changelog.d/+modelpackbuilding.removal.md
  docs/_changelog.d/+opsinstep.feature.md
  docs/_changelog.d/+perfimprovements.feature.md
  docs/_changelog.d/+removeerroneouswarnings.bugfix.md
  docs/_changelog.d/+spacyvocabmanagement.feature.md
  docs/_changelog.d/+stringmatchingv2.feature.md
  docs/_changelog.d/+unmappedtinybernentsdropped.feature.md
  kazu/__init__.py
Due: black, blacken-docs, flake8

do not add Step imports to __init__.py unless they are covered by the base dependencies
  kazu/steps/__init__.py
Due: black, blacken-docs, flake8

towncrier news on broken imports
  docs/_changelog.d/+fixbrokenimports.bugfix.rst
Due: blacken-docs

Bump version: 1.1.0 → 1.1.1
  CHANGELOG.md
  docs/_changelog.d/+fixbrokenimports.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

docs: add missing underscore
  CHANGELOG.md
Due: blacken-docs

docs: add missing $ in console code blocks
  kazu/steps/ner/opsin.py
  kazu/steps/ner/seth.py
  kazu/steps/other/stanza.py
Due: black, blacken-docs, flake8

docs: fix accidental italics in changelog
  CHANGELOG.md
Due: blacken-docs

fix optional dependency groups with underscores
  CHANGELOG.md
  docs/default_pipeline.rst
  kazu/linking/sapbert/train.py
  kazu/steps/ner/opsin.py
  kazu/steps/ner/seth.py
  kazu/steps/other/stanza.py
  kazu/utils/stanza_pipeline.py
  pyproject.toml
Due: black, blacken-docs, flake8

fixed indents in RulesBasedEntityClassDisambiguationFilterStep that caused incorrect matcher rules to be created
  kazu/conf/RulesBasedEntityClassDisambiguationFilterStep/default.yaml
Due: none

changed import of Iterable to support python 3.10
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

1.1.2 towncrier fragments
  docs/_changelog.d/+buggedmatcherrules.bugfix.rst
  docs/_changelog.d/+deprecatediterable.bugfix.rst
Due: blacken-docs

1.1.2 towncrier fragments
  docs/_changelog.d/+buggedmatcherrules.bugfix.rst
Due: blacken-docs

added new line to news fragments
  docs/_changelog.d/+buggedmatcherrules.bugfix.rst
  docs/_changelog.d/+deprecatediterable.bugfix.rst
Due: blacken-docs

Bump version: 1.1.1 → 1.1.2
  CHANGELOG.md
  docs/_changelog.d/+buggedmatcherrules.bugfix.rst
  docs/_changelog.d/+deprecatediterable.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

docs: SynonymTerm docstring tidyup
  kazu/data/data.py
Due: black, blacken-docs, flake8

docs: turn comment into docstring for visibility
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: OntologyParser docstring tidyup
  docs/ontology_parser.rst
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

docs: improve RDFGraphParser docstring
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: fixup JsonLinesOntologyParser docs
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: make a casual 'note' a sphinx admonition note
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

docs: make 'constants' for dataframe columns visible
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

docs: tidy up score_and_group_ids docs
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

docs: fix linebreaks for parse_to_dataframe columns
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

docs: add links in param doc
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  flake8: any of: \.py$
