Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]
  
  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: python
    entry:  mypy
    types: [python] 
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

- repo: https://github.com/PyCQA/docformatter
  rev: v1.6.1
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^docs/_autosummary|\
      ^kazu/tests/test_assets/tinybern"

fix typo
  docs/default_pipeline.rst
Due: blacken-docs

prevent string matcher from overriding ontology info whne you have two curations in a different case with seperate ontology info
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

towncrier 'Fixed a bug in MemoryEfficientStringMatchingStep where caseinsensitive overlaps caused ontology info to be lost.'
  docs/_changelog.d/+stringmatcheroverride.bugfix.rst
Due: blacken-docs

we can save some more memory by not storing the string for curated synonym twice on the automaton
  kazu/steps/joint_ner_and_linking/memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

updated README.md with HPO info and removed data version info as is now out of date
  README.md
Due: blacken-docs

updated ontology version info for october 2023
  kazu/conf/ontologies/cellosaurus.yaml
  kazu/conf/ontologies/chembl.yaml
  kazu/conf/ontologies/cl.yaml
  kazu/conf/ontologies/clo.yaml
  kazu/conf/ontologies/go_bp.yaml
  kazu/conf/ontologies/go_cc.yaml
  kazu/conf/ontologies/go_mf.yaml
  kazu/conf/ontologies/hgnc_gene_family.yaml
  kazu/conf/ontologies/mondo.yaml
  kazu/conf/ontologies/ot_disease.yaml
  kazu/conf/ontologies/ot_molecule.yaml
  kazu/conf/ontologies/ot_target.yaml
  kazu/conf/ontologies/uberon.yaml
Due: none

added additional data validation to CuratedTerm for inherited behaviour
  kazu/data/data.py
Due: black, blacken-docs, flake8

towncrier 'CurationProcessor no longer tries to handle curations with INHERIT_FROM_SOURCE_TERM behaviour, as this was causing confusion and conflicts. This is now the responsibility of the caller.'
  docs/_changelog.d/+inheritedtermbehaviour.feature.rst
Due: blacken-docs

added new human comment and autocuration_results to CuratedTerm
  kazu/data/data.py
Due: black, blacken-docs, flake8

CurationProcessor no longer modifies inherited behaviour if source term is not present, as this should be the responsibility of the caller
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

improved logging on curation processor for readability
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

updated filter_curations_for_ner to no longer throw warnings for inherited terms that aren't used, as this is now it's responsibility
  kazu/utils/curated_term_tools.py
Due: black, blacken-docs, flake8

fixed a bug in spacy_object_mapper.py where non-parser entities are not added to extensions. This is now passed though config. We probably need a better way to autoconfigure this
  kazu/conf/RulesBasedEntityClassDisambiguationFilterStep/default.yaml
  kazu/steps/linking/rules_based_disambiguation.py
  kazu/utils/spacy_object_mapper.py
Due: black, blacken-docs, flake8

towncrier: Updated ontologies for October 2023.
  docs/_changelog.d/+ontologiess.feature.rst
Due: blacken-docs

updated ontology version info for october 2023
  kazu/conf/ontologies/chembl.yaml
Due: none

Bump version: 1.2.0 → 1.3.0
  CHANGELOG.md
  docs/_changelog.d/+inheritedtermbehaviour.feature.rst
  docs/_changelog.d/+ontologiess.feature.rst
  docs/_changelog.d/+stringmatcheroverride.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

added module level docstring explaining deserialisation.
  kazu/data/data.py
Due: black, blacken-docs, flake8

added dictionary deserialisation methods
  kazu/data/data.py
Due: black, blacken-docs, flake8

towncrier json deserialisation
  docs/_changelog.d/+deserialisation.feature.rst
Due: blacken-docs

rewrote Document.from_dict to prevent duplicate call to uuid.uuid4().hex
  kazu/data/data.py
Due: black, blacken-docs, flake8

removed obsolete offset map field
  kazu/data/data.py
Due: black, blacken-docs, flake8

moved Data Serialization and deserialization to datamodel.rst
  docs/datamodel.rst
  kazu/data/data.py
Due: black, blacken-docs, flake8

added a comment to explain why we need to set section.entities to [] in test_data.py
  kazu/tests/test_data.py
Due: black, blacken-docs, flake8

added deserialisation test to test_serialisation
  kazu/tests/test_data.py
Due: black, blacken-docs, flake8

simplify construction of synonym_terms_dict in Entity.from_dict to use walrus operator.
  kazu/data/data.py
Due: black, blacken-docs, flake8

return tuples instead of list by default
  kazu/data/data.py
Due: black, blacken-docs, flake8

added download_ontology_updates.py
  kazu/utils/download_ontology_updates.py
Due: black, blacken-docs, flake8

now using sqllite python client to vacuum chembl
  kazu/utils/download_ontology_updates.py
Due: black, blacken-docs, flake8

now using hp-full.owl instead of .json
  kazu/utils/download_ontology_updates.py
Due: black, blacken-docs, flake8

added resources_to_download optional param
  kazu/utils/download_ontology_updates.py
Due: black, blacken-docs, flake8

various minor improvements to download_ontology_updates.py
  kazu/utils/download_ontology_updates.py
Due: black, blacken-docs, flake8

docs: manual fix of problematic docstrings
  kazu/tests/test_linking_strategy_runner.py
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

mypy: add cast to prevent 'unreachable' error
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

docs: fix formatting of sphinx 'substitution'
  kazu/data/data.py
Due: black, blacken-docs, flake8

docs: add remaining string normalizer links
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

mypy: remove now unused type ignore
  kazu/data/data.py
Due: black, blacken-docs, flake8

docs: shorten xml external type links
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

docs: fix problematic docstring with multiple lines
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

docs: remove erroneous double '\' from datamodel.rst
  docs/datamodel.rst
Due: blacken-docs
