Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

refactor: update confusing function name
  kazu/ontology_preprocessing/downloads.py
Due: black, blacken-docs, flake8

fox: remove cache which doesn't recognise different func arguments
  kazu/ontology_preprocessing/downloads.py
Due: black, blacken-docs, flake8

fix: CombinatorialSynonmyGenerator should only check for original strings
  kazu/ontology_preprocessing/synonym_generation.py
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

fix: remove button reserved for other pages
  krt/pages/1_update_ontology_version.py
Due: black, blacken-docs, flake8

refactor: decouple different tests for extensibility
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

refactor: add typing annotations in test file
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

feat: update changelog
  docs/_changelog.d/combinatorial_synonym_generator.bugfix.rst
  docs/_changelog.d/krt.bugfix.rst
  docs/_changelog.d/ontology_updates.feature.rst
Due: blacken-docs

Bump version: 2.2.0 → 2.2.1
  CHANGELOG.md
  docs/_changelog.d/combinatorial_synonym_generator.bugfix.rst
  docs/_changelog.d/krt.bugfix.rst
  docs/_changelog.d/ontology_updates.feature.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

updated label studio API to be compatible with latest version, which doesn't allow docs to have strings for ids
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

LLMNER step now has options to parse results from structured outputs, and process document sections individually
  kazu/steps/ner/llm_ner.py
  kazu/tests/test_llm_ner_step.py
Due: black, blacken-docs, flake8

added additional Entity filter actions to support clean parsing of LLMNER generated data
  kazu/steps/other/cleanup.py
Due: black, blacken-docs, flake8

added missing param to LSWebUtils
  kazu/web/ls_web_utils.py
Due: black, blacken-docs, flake8

fixed type hint for update view
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

added training code for multilabel NER
  kazu/training/__init__.py
  kazu/training/config.py
  kazu/training/modelling.py
  kazu/training/train_multilabel_ner.py
  kazu/training/train_script.py
Due: black, blacken-docs, flake8

added pyarrow to mypy overrides
  pyproject.toml
Due: none

added epoch completion fraction to TrainingConfig
  kazu/training/config.py
  kazu/training/train_multilabel_ner.py
Due: black, blacken-docs, flake8

fixed bug with non-json serialised ents in metadata not appearing in gold standard during eval
  kazu/training/train_multilabel_ner.py
Due: black, blacken-docs, flake8

minor code cleanups
  kazu/training/train_script.py
Due: black, blacken-docs, flake8

added tests for new LLMNER cleanup actions
  kazu/tests/test_cleanup.py
Due: black, blacken-docs, flake8

added annotate_with_llm.py example script
  scripts/examples/annotate_with_llm.py
Due: black, blacken-docs, flake8

added example configs for training and annotate_with_llm
  scripts/examples/__init__.py
  scripts/examples/conf/__init__.py
  scripts/examples/conf/annotate_with_llm/default.yaml
  scripts/examples/conf/config.yaml
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: black, blacken-docs, flake8

fix: make parameter configurable for different architectures
  kazu/training/config.py
  kazu/training/train_multilabel_ner.py
  kazu/training/train_script.py
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: black, blacken-docs, flake8

renamed eval to test so we can add an eval stage at some future point. Also removed confusing HF cache from training config as is probably superfluous
  kazu/training/config.py
  kazu/training/train_multilabel_ner.py
  kazu/training/train_script.py
Due: black, blacken-docs, flake8

fixed docstrings for modelling.py
  kazu/training/modelling.py
Due: black, blacken-docs, flake8

fixed param keys for test_path and test_data_cache_dir
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: none

added scaling and training documentation, with required nitpicks
  docs/conf.py
  docs/index.rst
  docs/quickstart.rst
  docs/scaling_kazu.rst
  docs/training_multilabel_ner.rst
Due: black, blacken-docs, flake8

keys_to_use is now inferred from architecture
  kazu/training/config.py
  kazu/training/train_multilabel_ner.py
  kazu/training/train_script.py
Due: black, blacken-docs, flake8

twoncrier: scaling and NER training
  docs/_changelog.d/+scaling.feature.rst
  docs/_changelog.d/+training.feature.rst
Due: blacken-docs

added missing entity_key config param to StructuredOutputResultParser
  scripts/examples/conf/annotate_with_llm/default.yaml
Due: none

default epoch_completion_fraction_before_evals is now 0.75 of an epoch
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: none

removed unused keys_to_use from config
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: none

false pos and neg items now correctly updated
  kazu/training/train_multilabel_ner.py
Due: black, blacken-docs, flake8

fixed mypy ignore for some strange linux issue
  scripts/examples/annotate_with_llm.py
Due: black, blacken-docs, flake8

refactor: resuasbility and edge cases
  kazu/training/train_multilabel_ner.py
  kazu/training/train_script.py
Due: black, blacken-docs, flake8

feat: add predict script to test trained model
  kazu/training/config.py
  kazu/training/predict_script.py
  scripts/examples/conf/multilabel_ner_predict/default.yaml
Due: black, blacken-docs, flake8

refactor: delete specific params
  scripts/examples/conf/multilabel_ner_predict/default.yaml
Due: none

refactor: separate out parquet to kazu docs conversion
  kazu/steps/ner/llm_ner.py
  scripts/examples/annotate_with_llm.py
  scripts/examples/conf/annotate_with_llm/default.yaml
  scripts/examples/conf/config.yaml
  scripts/examples/conf/convert_parquet_to_kazu_docs/default.yaml
  scripts/examples/convert_parquet_to_kazu_docs.py
Due: black, blacken-docs, flake8

fix: remove custom paths from config
  scripts/examples/conf/convert_parquet_to_kazu_docs/default.yaml
Due: none
