Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

simplified construction of EquivalentIdSet
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

added custom configs for OT disease subsets
  kazu/conf/ontologies/ot_bio_proc.yaml
  kazu/conf/ontologies/ot_disease.yaml
  kazu/conf/ontologies/ot_measurement.yaml
  kazu/conf/ontologies/ot_medical_proc.yaml
  kazu/conf/ontologies/ot_phenotype.yaml
Due: none

implemented a custom score_and_group_ids method for OpenTargetsDiseaseOntologyParser to resolve by xref
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

towncrier: new OT Disease parser implementation
  docs/_changelog.d/+otdisease.feature.rst
Due: blacken-docs

renamed keys for new GO entity class labels
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

adjusted docs for label_studio_integration.rst to reflect new entity classes
  docs/label_studio_integration.rst
Due: blacken-docs

minor docs improvement
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

minor docs/logging improvement
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

Bump version: 1.3.2 → 1.4.0
  CHANGELOG.md
  docs/_changelog.d/+create_phrasematchers_rename.removal.md
  docs/_changelog.d/+curationreport.feature.rst
  docs/_changelog.d/+doubleparserpopulate.bugfix.md
  docs/_changelog.d/+excludekazutested_dependencies.bugfix.md
  docs/_changelog.d/+metadbaddparser.removal.rst
  docs/_changelog.d/+otdisease.feature.rst
  docs/_changelog.d/+pl.removal.rst
  docs/_changelog.d/+prefdefaultlabel.feature.rst
  docs/_changelog.d/+stringmapper.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

ci: run pre-commit when releasing
  .github/workflows/release.yml
Due: none

refactor: frozenset comprehension for simplicity
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

chore: fix black formatting issue
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

ci: fix release install from wheel
  .github/workflows/release.yml
Due: none

deprecation of GildaUtils.replace_dashes
  docs/_changelog.d/+deprecate-replace-dashes.removal.md
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

perf: improve GildaUtils dash splitting efficiency
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

docs: add 'non-hydra-app' option to quickstart
  docs/quickstart.rst
Due: blacken-docs

docs: only test second format of hydra initiailization
  docs/quickstart.rst
Due: blacken-docs

docs: reword 'non-hydra' quickstart section
  docs/quickstart.rst
Due: blacken-docs

docs: typo fix
  docs/quickstart.rst
Due: blacken-docs

tests: dataclasses for string matching tests cases
  kazu/tests/string_matching_utils.py
Due: black, blacken-docs, flake8

tests: add test for 'max mention confidence'
  kazu/tests/string_matching_utils.py
  kazu/tests/test_memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

tests: share 'example text' between files
  kazu/tests/string_matching_utils.py
  kazu/tests/test_memory_efficient_string_matching.py
  kazu/tests/test_ontology_matching.py
Due: black, blacken-docs, flake8

tests: refactor string matching tests
  kazu/tests/string_matching_utils.py
  kazu/tests/test_memory_efficient_string_matching.py
  kazu/tests/test_ontology_matching.py
Due: black, blacken-docs, flake8

tests: better names for shared parametrization names and values
  kazu/tests/string_matching_utils.py
  kazu/tests/test_memory_efficient_string_matching.py
  kazu/tests/test_ontology_matching.py
Due: black, blacken-docs, flake8

tests: set default parser data in dataclass
  kazu/tests/string_matching_utils.py
Due: black, blacken-docs, flake8

tests: check every synonym term, not just first
  kazu/tests/test_memory_efficient_string_matching.py
Due: black, blacken-docs, flake8

tests: add ent class to param args
  kazu/tests/string_matching_utils.py
  kazu/tests/test_memory_efficient_string_matching.py
  kazu/tests/test_ontology_matching.py
Due: black, blacken-docs, flake8

docs: add docstring for GeneOntologyParser
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

feat: add RDFGraphParser.parse_to_graph
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

tests: add test for GeneOntologyParser caching
  kazu/tests/test_ontology_parser.py
Due: black, blacken-docs, flake8

refactor: make GeneOntologyParser inherit from RDFGraphParser
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: correct and update GeneOntologyParser method docstrings
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

introduce type alias for entity filtering patterns
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: formatting as literal to match elsewhere in class docs
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: add docstring to RDFGraphParser.parse_to_graph
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

update vulture whitelist
  .vulture_whitelist.py
Due: none

ci: only run dead code workflow once a month
  .github/workflows/check_for_dead_code.yml
Due: none

towncrier: DefinedElsewhereInDocumentDisambiguationStrategy
  docs/_changelog.d/+ded.feature.rst
Due: blacken-docs

remove old NEWS.md - we now use CHANGELOG.md
  NEWS.md
Due: blacken-docs

fix: pandas applymap function renamed to just map
  kazu/ontology_preprocessing/parsers.py
  pyproject.toml
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
