Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

refactor: move func to utils module
  kazu/training/modelling_utils.py
  kazu/training/train_multilabel_ner.py
Due: black, blacken-docs, flake8

fix: process docs through pipeline in batches
  kazu/training/evaluate_script.py
Due: black, blacken-docs, flake8

fix: circular import - move funcs to utils
  kazu/training/modelling_utils.py
  kazu/training/train_multilabel_ner.py
Due: black, blacken-docs, flake8

fix: torch.cat returning zero tensor for large datasets
  kazu/steps/ner/hf_token_classification.py
Due: black, blacken-docs, flake8

refactor: move random sampling to outside caller of visualiser
  kazu/training/config.py
  kazu/training/modelling_utils.py
  kazu/training/train_multilabel_ner.py
Due: black, blacken-docs, flake8

feat: new syntheic data trained multilabel BERT
  resources/kazu_model_pack_public/multilabel_biomedBERT/config.json
  resources/kazu_model_pack_public/multilabel_biomedBERT/pytorch_model.bin
  resources/kazu_model_pack_public/multilabel_biomedBERT/special_tokens_map.json
  resources/kazu_model_pack_public/multilabel_biomedBERT/tokenizer.json
  resources/kazu_model_pack_public/multilabel_biomedBERT/tokenizer_config.json
  resources/kazu_model_pack_public/multilabel_biomedBERT/vocab.txt
Due: none

feat: add a sample config to use the new multilabel BERT
  kazu/conf/TransformersModelForTokenClassificationNerStep/multilabel_biomedBERT.yaml
Due: none

docs: update changelog with new model info
  docs/_changelog.d/multilabel_bert.feature.rst
Due: blacken-docs

docs: update changelog with info about previous pr fix
  docs/_changelog.d/pytorch_memory_issue.bugfix.rst
Due: blacken-docs

docs: fix typo in docs
  docs/training_multilabel_ner.rst
Due: blacken-docs

docs: include detailed model metrics per class
  docs/training_multilabel_ner.rst
Due: blacken-docs

fix: missing blank line after code block
  docs/training_multilabel_ner.rst
Due: blacken-docs

Bump version: 2.2.1 → 2.3.0
  CHANGELOG.md
  docs/_changelog.d/+scaling.feature.rst
  docs/_changelog.d/+training.feature.rst
  docs/_changelog.d/multilabel_bert.feature.rst
  docs/_changelog.d/pytorch_memory_issue.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

Refactor Hugging Face model loading
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
  kazu/conf/TransformersModelForTokenClassificationNerStep/multilabel_biomedBERT.yaml
  kazu/steps/ner/hf_token_classification.py
  kazu/training/config.py
  kazu/training/evaluate_script.py
  kazu/training/modelling.py
  kazu/training/predict_script.py
  kazu/training/train_multilabel_ner.py
  scripts/examples/conf/multilabel_ner_evaluate/default.yaml
  scripts/examples/conf/multilabel_ner_predict/default.yaml
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: black, blacken-docs, flake8

Update type hints
  kazu/training/modelling.py
Due: black, blacken-docs, flake8

Resolve unrelated docs build failure
  docs/conf.py
Due: black, blacken-docs, flake8

refactor: simplify Hugging Face model loading
  docs/conf.py
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
  kazu/conf/TransformersModelForTokenClassificationNerStep/multilabel_biomedBERT.yaml
  kazu/steps/ner/hf_token_classification.py
  kazu/training/config.py
  kazu/training/evaluate_script.py
  kazu/training/modelling.py
  kazu/training/predict_script.py
  kazu/training/train_multilabel_ner.py
  scripts/examples/conf/multilabel_ner_evaluate/default.yaml
  scripts/examples/conf/multilabel_ner_predict/default.yaml
  scripts/examples/conf/multilabel_ner_training/default.yaml
Due: black, blacken-docs, flake8

feat: implement model quantization
  kazu/quantization/README.md
  kazu/quantization/__init__.py
  kazu/quantization/int8_x86_quantizer.py
  kazu/steps/ner/hf_token_classification.py
Due: black, blacken-docs, flake8

fix: update documentation link
  kazu/quantization/README.md
Due: blacken-docs

fix: upgrade action which was using deprecated upload-artificat v3
  .github/workflows/deploy-github-pages.yaml
Due: none

fix: upgrade other actions
  .github/workflows/deploy-github-pages.yaml
Due: none

fix: upgrade starlette and fastapi to address vulnerabilites
  deploy/Dockerfile
  kazu/web/server.py
  pyproject.toml
Due: black, blacken-docs, flake8

docs: add changelog fragment for starlette and fastapi upgrade
  docs/_changelog.d/starlette_fastapi_upgrade.misc.rst
Due: blacken-docs

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
