Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]
    exclude: setup.py

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^kazu/tests/test_assets/tinybern"

fix for overriding entities field in hf_token_classification.py
  kazu/steps/ner/hf_token_classification.py
Due: black, flake8

Kazu-jvm readme
  kazu-jvm/README.md
Due: none

SethStep configs
  kazu/conf/SethStep/default.yaml
  kazu/conf/config.yaml
  kazu/conf/pipeline/default.yaml
Due: none

SethRunner now returns more metadata
  kazu-jvm/src/main/scala/com/astrazeneca/kazu/SethRunner.scala
Due: none

kazu-jvm for py4j module created (SethStep)
  kazu-jvm/build.gradle
  kazu-jvm/gradle/wrapper/gradle-wrapper.jar
  kazu-jvm/gradle/wrapper/gradle-wrapper.properties
  kazu-jvm/gradlew
  kazu-jvm/gradlew.bat
  kazu-jvm/settings.gradle
  kazu-jvm/src/main/scala/com/astrazeneca/kazu/SethRunner.scala
  kazu-jvm/src/test/scala/com/astrazeneca/kazu/SethRunnerTest.scala
Due: none

updated gitignore
  .gitignore
Due: none

scala docs
  kazu-jvm/src/main/scala/com/astrazeneca/kazu/SethRunner.scala
Due: none

updated version info
  kazu-jvm/build.gradle
  kazu-jvm/settings.gradle
Due: none

github actions for jvm
  .github/workflows/build-staging.yml
Due: none

precommit
  .github/workflows/build-staging.yml
  kazu-jvm/README.md
Due: none

fix for param name in config
  kazu/conf/SethStep/default.yaml
Due: none

Seth now executes after Transformer step
  kazu/conf/pipeline/default.yaml
Due: none

use generator expression in filter
  kazu/utils/utils.py
Due: black, flake8

removed int cast in seth step
  kazu/steps/ner/seth.py
Due: black, flake8

added model pack annotation
  kazu/tests/test_seth.py
Due: black, flake8

seth class is now mutation
  kazu/conf/SethStep/default.yaml
Due: none

generator expression in seth test
  kazu/tests/test_seth.py
Due: black, flake8

dockerignore iml
  .dockerignore
Due: none

gitignore iml
  .gitignore
Due: none

precommit
  .dockerignore
  .gitignore
Due: none

linking steps updated to use non-pandas indices
  kazu/steps/linking/dictionary.py
  kazu/steps/linking/sapbert.py
Due: black, flake8

py4j dependency
  setup.py
Due: black

sapbert training updated to use non-pandas indices
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

pandas removed from link indices
  kazu/tests/test_caching.py
  kazu/tests/test_embedding_index.py
  kazu/utils/caching.py
  kazu/utils/link_index.py
Due: black, flake8

updated config
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
Due: none

bugfix - initial add to dictionary index is not lower case
  kazu/utils/link_index.py
Due: black, flake8

precommit
  kazu/tests/test_seth.py
Due: black, flake8

bugfix - in some cases, default label is null. Fix by filling with id
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

syn keys must always be lower case in DictionaryIndex
  kazu/utils/link_index.py
Due: black, flake8

improved readability/tests as per elliot fords PR review
  kazu/tests/test_acceptance_test.py
  kazu/tests/test_hf_token_classification.py
Due: black, flake8

first implementation of MetaDatabase singleton
  kazu/modelling/linking/sapbert/train.py
  kazu/tests/test_embedding_index.py
  kazu/utils/caching.py
  kazu/utils/link_index.py
Due: black, flake8

remove any chembl entries without a default label
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

added SynonymDatabase singleton
  kazu/utils/link_index.py
Due: black, flake8

rebase me
  kazu/utils/link_index.py
Due: black, flake8

bugfix - tensor indices not updating correctly after add
  kazu/utils/link_index.py
Due: black, flake8

addressing PR issues
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

moved failing NER test to acceptance tests.
  kazu/tests/test_acceptance_test.py
  kazu/tests/test_hf_token_classification.py
  setup.py
Due: black, flake8

updated configs for open targets
  kazu/conf/SapBertForEntityLinkingStep/default.yaml
  kazu/conf/SapBertTraining/default.yaml
Due: none

added new ontology parsers for open targets
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

fix copyonslice issue
  kazu/utils/link_index.py
Due: black, flake8
