Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

removed doc modification options
  kazu/conf/DocumentLevelDisambiguationStep/default.yaml
  kazu/conf/DocumentLevelDisambiguationStep/production.yaml
  kazu/steps/other/document_disambiguationv2.py
Due: black, flake8

added more profiling info
  kazu/pipeline/pipeline.py
Due: black, flake8

open targets now uses approved name for target parser
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

better type hinting
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

moved hit postprocessor to where it's needed
  kazu/utils/link_index.py
Due: black, flake8

added slimming options
  kazu/steps/other/document_disambiguationv2.py
Due: black, flake8

added production config
  kazu/conf/DocumentLevelDisambiguationStep/production.yaml
Due: none

added default prefilter
  kazu/steps/other/document_disambiguationv2.py
Due: black, flake8

even more profiling
  kazu/pipeline/pipeline.py
Due: black, flake8

remove need for label_from_IRI and put parser name in match_id
  kazu/conf/ExplosionNERStep/default.yaml
  kazu/modelling/ontology_matching/assemble_pipeline.py
  kazu/modelling/ontology_matching/ontology_matcher.py
  kazu/steps/ner/explosion.py
Due: black, flake8

fixed recursive element removal
  kazu/data/data.py
Due: black, flake8

search field bug fix
  kazu/steps/other/document_disambiguationv2.py
Due: black, flake8

switch off SeparatorExpansion for gene
  kazu/conf/SynonymGeneration/default.yaml
  kazu/modelling/ontology_preprocessing/synonym_generation.py
Due: black, flake8

optimisation for dictionary step
  kazu/steps/linking/dictionary.py
Due: black, flake8

added as_minified_json to doc
  kazu/data/data.py
Due: black, flake8

updated conf for web
  .dockerignore
  kazu/conf/config.yaml
  kazu/conf/pipeline/web.yaml
Due: none

precommiit check
  kazu/data/data.py
Due: black, flake8

added process memory usage to profiling
  kazu/pipeline/pipeline.py
Due: black, flake8

bump ray version
  Dockerfile
Due: none

updated conf for web
  scripts/docker/start.sh
Due: none

more metrics
  kazu/pipeline/pipeline.py
Due: black, flake8

added len to doc
  kazu/data/data.py
Due: black, flake8

bugfix for optimisation
  kazu/steps/linking/dictionary.py
Due: black, flake8

set default workers to 0
  kazu/conf/SapBertTraining/default.yaml
Due: none

added java home param to seth config
  kazu/conf/SethStep/default.yaml
Due: none

seth now produces Mappings
  kazu/steps/ner/seth.py
Due: black, flake8

added zero length prefilter
  kazu/steps/other/document_disambiguationv2.py
Due: black, flake8

seth metadata now has it's own key
  kazu/steps/ner/seth.py
Due: black, flake8

added optional subspan detection
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

more profiling output
  kazu/modelling/linking/sapbert/train.py
  kazu/pipeline/pipeline.py
Due: black, flake8

removal of scispacy ent tagging and addition of semicolon to split rules
  kazu/steps/ner/entity_post_processing.py
  kazu/steps/ner/tokenized_word_processor.py
Due: black, flake8

fix tests tokenised word processor
  kazu/steps/ner/tokenized_word_processor.py
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

fixing tests seth
  kazu/steps/ner/seth.py
  kazu/tests/test_seth.py
Due: black, flake8

arrow 8.0
  setup.py
Due: black

various pipeline config flavours
  kazu/conf/pipeline/default_fast.yaml
  kazu/conf/pipeline/fast_full.yaml
  kazu/conf/pipeline/fast_tiny.yaml
  kazu/conf/pipeline/slow_full.yaml
  kazu/conf/pipeline/slow_tiny.yaml
Due: none

moved dummy parser to utils
  kazu/tests/utils.py
Due: black, flake8

remove dead code
  kazu/steps/other/entity_dedup.py
  kazu/tests/test_linking_steps.py
  kazu/tests/test_ner_deduplication.py
Due: black, flake8

fixing tests
  kazu/tests/test_caching.py
  kazu/tests/test_document_disambiguation.py
  kazu/tests/test_link_ensembling.py
Due: black, flake8

fixing tests
  kazu/tests/test_caching.py
Due: black, flake8

fix bulk of mypy issues
  kazu/data/data.py
  kazu/modelling/ontology_preprocessing/base.py
  kazu/pipeline/pipeline.py
  kazu/steps/other/document_disambiguationv2.py
  kazu/utils/utils.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
