Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  require_serial: true

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

ci: add debug to release model pack build
  .github/workflows/release.yml
Due: none

ci: use consistent checkout action version
  .github/workflows/release.yml
Due: none

ci: ensure lfs checkout in release workflow
  .github/workflows/release.yml
Due: none

tests: re-enable black formatting
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

refactor: remove no-op union
  kazu/ontology_preprocessing/synonym_generation.py
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

tests: remove unnecessary test
  kazu/tests/test_sentence_segmentation.py
Due: black, blacken-docs, flake8

tests: fix test for multiple sentence span steps
  kazu/tests/test_sentence_segmentation.py
Due: black, blacken-docs, flake8

vulture fix - use underscore before unused variable
  kazu/tests/test_sentence_segmentation.py
Due: black, blacken-docs, flake8

fix incorrect type hint for LinkingMetrics.bool_score
  kazu/data/__init__.py
Due: black, blacken-docs, flake8

update vulture whitelist
  .vulture_whitelist.py
Due: none

fix copy-paste error in stanza import error message
  kazu/utils/stanza_pipeline.py
Due: black, blacken-docs, flake8

ci: split out hypothesis tests
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
Due: none

test: convert pipeline test to use hypothesis
  kazu/tests/test_pipeline.py
Due: black, blacken-docs, flake8

fix for sphix docstring
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

renamed test_hf_token_classification.py to test_token_classification.py and added GLiNER tests
  kazu/tests/test_hf_token_classification.py
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

corrected paper reference sphinx string
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

fix double assignment bug
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

fix for bug where we yield the first sentence on its own twice currently if it's longer than the max batch length.
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

GLINER docstring formatting improvement
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

create class TestGLINER for class scope fixture works properly
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

added gliner.py implementation
  docs/conf.py
  kazu/conf/GLiNERStep/default.yaml
  kazu/conf/config.yaml
  kazu/steps/ner/gliner.py
  pyproject.toml
Due: black, blacken-docs, flake8

Towncrier: GLiNER
  docs/_changelog.d/+gliner.feature.rst
Due: blacken-docs

added sentence batching to gliner.py
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

split gliner tests three ways
  conftest.py
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

changed const name to SKIP_MESSAGE_EXPERIMENTAL for abstraction
  kazu/tests/utils.py
Due: black, blacken-docs, flake8

minor code improvement
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

test_string_windowing rewritten:
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

added missing params to logging call
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

added gliner to dependencies
  pyproject.toml
Due: none

glinner now uses sentence spans rather than sliding windows (see previous commit for reason)
  kazu/steps/ner/gliner.py
  kazu/tests/test_token_classification.py
Due: black, blacken-docs, flake8

fix for no gliner intersphinx ref in docstring
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

fixed rst extension of MD file
  docs/_changelog.d/+gliner.feature.md
Due: blacken-docs

added token sliding window utility function for processing arbitrary doc length strings with fixed length models
  kazu/utils/utils.py
Due: black, blacken-docs, flake8

minor docs formatting
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

added link to ModelHubMixin in docs
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

added skip experimental fixture
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  kazu/tests/utils.py
Due: black, blacken-docs, flake8

fixed sentence joining issue that might be caused by non-single whitespace sentence splits
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

expanded docstring for pretrained_model_name_or_path so that it's clear a download could occur.
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

improved GLiNER docstring
  kazu/steps/ner/gliner.py
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$, but not: .vulture_whitelist.py
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$, but not: .vulture_whitelist.py
  flake8: any of: \.py$, but not: .vulture_whitelist.py
