Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

blacken-docs:
  name: blacken-docs
  stages:
  - commit
  language: system
  entry: blacken-docs -t py38

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

Update kazu/steps/ner/opsin.py
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

update formatting to pass precommit
  kazu/steps/ner/opsin.py
  kazu/tests/test_opsin.py
Due: black, blacken-docs, flake8

add condition logic during step call
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

remove unused match block in extendString
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

provide clearer code for the situation where we always need a value for DEFAULT_LABEL,if the underlying data doesn't provide one, just use the IDX. This also fixes an issue in pandas 2.1.0
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

move expensive scispacy call after if statement
  kazu/steps/ner/entity_post_processing.py
Due: black, blacken-docs, flake8

perf: remove unnecessary deepcopy
  kazu/utils/caching.py
Due: black, blacken-docs, flake8

include parser name in logging info
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

town crier: Curated terms that drop the same normalised version of the term no longer report erroneous warnings
  docs/_changelog.d/+removeerroneouswarnings.bugfix.rst
Due: blacken-docs

Curated terms that drop the same normalised version of the term no longer report erroneous warnings
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

remove redundant variables
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

added news snippet for new HGNC gene grouping
  docs/_changelog.d/+improvedgenegrouping.feature.rst
Due: blacken-docs

remove unused import
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: Add ReST 'line blocks' for paper citations
  kazu/linking/sapbert/train.py
  kazu/steps/ner/opsin.py
  kazu/steps/ner/seth.py
  kazu/steps/other/stanza.py
  kazu/utils/abbreviation_detector.py
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

docs: remove erroneous :return: in class docstring
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: further improve Chembl parser docstring
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

rename 'Ensemble' parser to HGNC
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: fix chembl link
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

fix: broken hyperlinks from line splitting
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: improve HGNC parser docstrings
  kazu/ontology_preprocessing/parsers.py
Due: black, blacken-docs, flake8

docs: make sphinx finish building and show all errors
  docs/Makefile
Due: none

towncrier dependency versioning workaround
  pyproject.toml
Due: none

docs: use default towncrier template
  docs/_changelog.d/changelog_template.jinja
  pyproject.toml
Due: none

remove uneeded file excludes from pre-commit hook
  .pre-commit-config.yaml
Due: none

correct 'language' of mypy hook
  .pre-commit-config.yaml
Due: none

add hooks: trailing whitespace and check yaml
  .flake8
  .github/workflows/check_for_dead_code.yml
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/integration_test.yml
  .github/workflows/release.yml
  .github/workflows/temporary-deployment.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/label_studio_integration.rst
  docs/quickstart.rst
  kazu-jvm/README.md
Due: blacken-docs

make black pre-commit hook run serial
  .pre-commit-config.yaml
Due: none

fix black pre-commit hook setup
  .pre-commit-config.yaml
Due: none

update .gitignore for current docs setup
  .gitignore
Due: none

fix: convert hydra config lists
  kazu/conf/DictionaryEntityLinkingStep/default.yaml
  kazu/conf/MappingStep/default.yaml
Due: none

mypy: add type hints
  kazu/annotation/acceptance_test.py
  kazu/data/data.py
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, blacken-docs, flake8

fix: pull out nested exception class definition
  kazu/data/data.py
Due: black, blacken-docs, flake8

perf: re.compile use
  kazu/utils/string_normalizer.py
Due: black, blacken-docs, flake8

mypy: simplify 'type guards'
  kazu/ontology_preprocessing/base.py
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

docs: tell sphinx to ignore failed link to regex.Pattern
  docs/conf.py
Due: black, blacken-docs, flake8

docs: make quote an 'epigraph'
  docs/ontology_parser.rst
Due: blacken-docs

docs: add link to rdfkit website in OpsinStep
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

docs: improve OpsinStep docstring
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

docs: mark opsin as experimental and add news snippet
  docs/_changelog.d/+opsinstep.feature.rst
  kazu/steps/ner/opsin.py
Due: black, blacken-docs, flake8

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  flake8: any of: \.py$
