Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

removed disambiguation_strategy from label studio as they're nt required and also confusing
  kazu/modelling/annotation/label_studio.py
Due: black, flake8

mapping strategies now take disambiguation confidence directly from .confidence attribute
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

refactor confidenc values to use emuns
  kazu/conf/DisambiguationStrategies/default.yaml
  kazu/conf/MappingStep/default.yaml
Due: none

configs for new parameters
  kazu/conf/CleanupActions/default.yaml
Due: none

test fix for new NoopMappingStrategy
  kazu/tests/test_linking_strategy_runner.py
  kazu/tests/test_mapping_strategies.py
Due: black, flake8

config change for NoopMappingStrategy
  kazu/conf/MappingStep/default.yaml
Due: none

MappingStrategy is now ABC and DefinedElsewhere mapping strategy is now NoopMappingStrategy, as it is redundant
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

replaced confidence enums with interpolation
  kazu/conf/DisambiguationStrategies/default.yaml
  kazu/conf/MappingStep/default.yaml
  kazu/conf/confidence/default.yaml
  kazu/conf/config.yaml
Due: none

removed uninformative comments
  kazu/data/data.py
Due: black, flake8

minor import grouping
  kazu/tests/test_disambiguation_strategies.py
Due: black, flake8

ignoring frontend/node_modules in the .gitignore
  .gitignore
Due: none

added button to toggle json output
  .gitignore
  frontend/src/components/app.tsx
  frontend/src/components/json-view.tsx
  frontend/src/types/types.ts
Due: none

simplify plurals in regex
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
Due: none

update tests for multiple replacements
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

make regex support multiple occurences of suffixes
  kazu/conf/TransformersModelForTokenClassificationNerStep/default.yaml
Due: none

make test parametrized
  kazu/tests/test_tokenized_word_processor.py
Due: black, flake8

add missing return statement
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

minor mypy fixes
  kazu/tests/test_ontology_matching.py
Due: black, flake8

mypy fix
  docs/conf.py
Due: black, flake8

correct type hints
  kazu/modelling/distillation/models.py
Due: black, flake8

correct type hint
  kazu/steps/linking/post_processing/mapping_strategies/strategies.py
Due: black, flake8

fix AutoTokenizer type hints
  kazu/modelling/distillation/models.py
  kazu/steps/ner/hf_token_classification.py
  kazu/utils/utils.py
Due: black, flake8

correct hf model type hints
  kazu/modelling/hf_lightning_wrappers.py
Due: black, flake8

make typing explicit for mypy
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

introduce intermediate variable for type change
  kazu/modelling/linking/sapbert/train.py
Due: black, flake8

add type hints
  kazu/modelling/distillation/dataprocessor.py
Due: black, flake8

correct type hint
  kazu/modelling/annotation/acceptance_test.py
Due: black, flake8

update mypy config to catch more
  .pre-commit-config.yaml
  setup.py
Due: black

mypy fixes for abbreviation_detector.py
  kazu/utils/abbreviation_detector.py
Due: black, flake8

simplify transformers imports - 2 statements to 1
  kazu/modelling/distillation/models.py
Due: black, flake8

mypy fixes
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

minor mypy fixes
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

mypy type hint fix for Pipeline.SummaryWriter
  kazu/pipeline/pipeline.py
Due: black, flake8

mypy fixes pytorch.py
  kazu/data/pytorch.py
Due: black, flake8

mypy fixes
  kazu/modelling/distillation/models.py
Due: black, flake8

make 'optional' explicit rather than implicit
  kazu/modelling/ontology_matching/assemble_pipeline.py
Due: black, flake8

resolve mypy error with middleware
  kazu/web/server.py
Due: black, flake8

convert mapping type to str
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

add assert statement for expectation
  kazu/modelling/distillation/models.py
Due: black, flake8

make tensor typing easier on mypy
  kazu/modelling/distillation/models.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
