Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

bug: corrected namespace
  kazu/conf/CleanupActions/default.yaml
Due: none

fix/update tests after phrasematcher refactor
  kazu/tests/test_ontology_matching.py
Due: black, flake8

fix docstring for sphinx
  kazu/steps/document_post_processing/abbreviation_finder.py
Due: black, flake8

remove steps doc
  docs/index.rst
  docs/steps.rst
Due: none

fix sphinx link
  kazu/utils/abbreviation_detector.py
Due: black, flake8

move function inline
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

change parameter docs to existing sphinx format
  kazu/utils/abbreviation_detector.py
Due: black, flake8

remove dead function
  kazu/modelling/ontology_matching/ontology_matcher.py
  kazu/steps/joint_ner_and_linking/explosion.py
Due: black, flake8

Add missing full stop to docstring
  kazu/steps/joint_ner_and_linking/explosion.py
Due: black, flake8

reformat long line in docs code
  docs/curating_for_explosion.rst
Due: none

update test after rename and refactor
  kazu/tests/test_explosion_ner.py
Due: black, flake8

add exception clause if phrasematcher build fails
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

bug: fixed pickling of wrong thing
  kazu/steps/linking/post_processing/disambiguation/context_scoring.py
Due: black, flake8

fix bug with multuple terms per SynonymTerm
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

resolve synonymDB loading issue in test
  kazu/tests/test_explosion_ner.py
Due: black, flake8

add test to catch bug in prior commit
  kazu/tests/test_ontology_matching.py
Due: black, flake8

make returned values match set attributes
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

config: swapping tinybern drug to exact match only to increase precision
  kazu/conf/MappingStep/default.yaml
Due: none

github: added no_xref.yaml as we don't want xref mappings in acceptance test
  kazu/conf/MappingStep/no_xref.yaml
Due: none

bug: corrected calculation of longest_mapping_strategy_list_size
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

config: updated default config
  kazu/conf/pipeline/default.yaml
Due: none

feat: added no xref to acceptance test overrides, as we have no control over the quality of these
  kazu/tests/test_acceptance_test.py
Due: black, flake8

bug: reverting to pytest fail as failures aren't properly captured in intellij
  kazu/tests/test_acceptance_test.py
Due: black, flake8

config: added CleanupStep to acceptance_test.yaml
  kazu/conf/pipeline/acceptance_test.yaml
Due: none

bug: corrected calculation of stop on success
  kazu/steps/linking/post_processing/strategy_runner.py
Due: black, flake8

bug: fixed singleton clear out before test
  kazu/tests/test_disambiguation_strategies.py
Due: black, flake8

bug: made set_up_p27_test_case include the p27 syn of CDKN1B
  conftest.py
Due: black, flake8

reorder dummy data to all be together
  conftest.py
Due: black, flake8

bug: ls doesn't like duplicate values in taxonomy
  kazu/modelling/annotation/label_studio.py
Due: black, flake8

config: simplified no_xref config
  kazu/conf/MappingStep/no_xref.yaml
Due: none

refactor : removed unused import
  kazu/tests/test_disambiguation_strategies.py
Due: black, flake8

Bump version: 0.0.1 → 0.0.2
  setup.cfg
  setup.py
Due: black

bug: made disambiguation tests only test affected entities
  kazu/tests/test_disambiguation_strategies.py
Due: black, flake8

feat: added tag and commit to bump2version
  setup.cfg
Due: none

docs: updated README.md
  README.md
Due: none

using named sections in requests JSON for the web API
  kazu/web/server.py
Due: black, flake8

using an alternative text example for api tests
  kazu/tests/test_server.py
Due: black, flake8

test fixes
  kazu/data/data.py
  kazu/tests/test_server.py
  kazu/web/server.py
Due: black, flake8

undoing logging responses
  kazu/web/server.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
