Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black .

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

fixed imports
  azner/steps/abbreviation_expansion/__init__.py
  azner/steps/string_preprocessing/__init__.py
  azner/steps/string_preprocessing/scispacy_abbreviation_expansion.py
Due: black, flake8

docs
  azner/steps/string_preprocessing/string_preprocessing_step.py
Due: black, flake8

added serialisation methods to deal with new offset map
  azner/data/data.py
Due: black, flake8

added serialisation tests
  azner/tests/test_data.py
Due: black, flake8

updated server and tests to use json serialisation
  azner/tests/test_server.py
  azner/web/server.py
Due: black, flake8

simplified load_steps
  azner/pipeline/pipeline.py
Due: black, flake8

added proper map merging for offsets
  azner/steps/string_preprocessing/string_preprocessing_step.py
  azner/tests/test_string_preprocessor_step.py
Due: black, flake8

fixed test
  azner/tests/test_abbreviation_expansion.py
Due: black, flake8

initial version of abbreviation expansion added
  azner/conf/SciSpacyAbbreviationExpansionStep/default.yaml
  azner/conf/config.yaml
  azner/steps/__init__.py
  azner/steps/abbreviation_expansion/__init__.py
  azner/steps/abbreviation_expansion/scispacy_abbreviation_expansion.py
  azner/steps/base/step.py
  azner/tests/test_abbreviation_expansion.py
  azner/tests/test_string_preprocessor_step.py
Due: black, flake8

updated annotations after abbreviation expansion
  azner/tests/test_assets/full_pipeline/0.csv
  azner/tests/test_assets/full_pipeline/1.csv
  azner/tests/test_assets/full_pipeline/2.csv
Due: none

added full pipeline acceptance test
  azner/tests/test_full_pipeline_acceptance_test.py
Due: black, flake8

added entities_as_dataframe
  azner/data/data.py
Due: black, flake8

added test files for full pipeline
  azner/tests/test_assets/full_pipeline/0.csv
  azner/tests/test_assets/full_pipeline/0.txt
  azner/tests/test_assets/full_pipeline/1.csv
  azner/tests/test_assets/full_pipeline/1.txt
  azner/tests/test_assets/full_pipeline/2.csv
  azner/tests/test_assets/full_pipeline/2.txt
Due: none

fixed import
  azner/steps/__init__.py
Due: black, flake8

reworked utils for more general acceptance tests
  azner/tests/utils.py
Due: black, flake8

moved string preprocessing to it's own module
  azner/steps/base/step.py
Due: black, flake8

reworked linking test to use refactored utils
  azner/tests/test_linking_acceptance_test.py
Due: black, flake8

updated config
  azner/conf/SciSpacyAbbreviationExpansionStep/default.yaml
Due: none

ignoring model pack
  .dockerignore
  .gitignore
Due: none

updated configs for kubernetes deployment
  azner/conf/DictionaryEntityLinkingStep/docker.yaml
  azner/conf/SapBertForEntityLinkingStep/docker.yaml
  azner/conf/TransformersModelForTokenClassificationNerStep/docker.yaml
  azner/conf/ray/cluster.yaml
  azner/conf/ray/local.yaml
Due: none

updated default pipeline with new steps
  azner/conf/pipeline/default.yaml
Due: none

added colors to render
  azner/data/data.py
Due: black, flake8

added new rule to preprocessor to catch multi word entities
  azner/steps/ner/bio_label_preprocessor.py
Due: black, flake8

added new rule to preprocessor to catch multi word entities and Bs
  azner/steps/ner/bio_label_preprocessor.py
Due: black, flake8

added ray serve detach as a config param
  azner/web/server.py
Due: black, flake8

made server test more substantial
  azner/tests/test_server.py
Due: black, flake8

server now runs indefinitely in non detached mode
  azner/web/server.py
Due: black, flake8

precommit
  azner/web/server.py
Due: black, flake8

updated test_server.py to override detached mode, so that test exits properly
  azner/tests/test_server.py
Due: black, flake8

updated server to initialise pipeline in the deployment
  azner/tests/test_server.py
  azner/web/server.py
Due: black, flake8

precommit
  setup.py
Due: black

added docker entrypoint
  Dockerfile
Due: none

updated docker ignore
  .dockerignore
Due: none

fixed dockerfile sudo commands
  Dockerfile
Due: none

fixed start.sh
  scripts/docker/start.sh
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
