Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

Revert "added entity_class_to_parser_names field to MetadataDatabase"
  kazu/database/in_memory_db.py
Due: black, blacken-docs, flake8

import fix and black formatting
  kazu/tests/test_cleanup.py
Due: black, blacken-docs, flake8

towncrier: DropMappingsByParserNameRankAction
  docs/_changelog.d/+dropmappings.feature.rst
Due: blacken-docs

added KazuConfigurationError
  kazu/data/data.py
Due: black, blacken-docs, flake8

simplified construction of default dicts for clarity
  kazu/tests/test_cleanup.py
Due: black, blacken-docs, flake8

renamed variable 'parser_bname_lists' for clarity
  kazu/steps/other/cleanup.py
Due: black, blacken-docs, flake8

Towncrier: GildaTfIdfDisambiguationStrategy
  docs/_changelog.d/+gilda.feature.rst
Due: blacken-docs

black formatting
  kazu/tests/test_disambiguation_strategies.py
Due: black, blacken-docs, flake8

added PreferNearestEmbeddingToDefaultLabelDisambiguationStrategy and test
  kazu/steps/linking/post_processing/disambiguation/strategies.py
  kazu/tests/test_disambiguation_strategies.py
Due: black, blacken-docs, flake8

minor code improvements
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

import fix
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

improved test to ensure only a single ID is returned from test_PreferNearestEmbeddingToDefaultLabelDisambiguationStrategy
  kazu/tests/test_disambiguation_strategies.py
Due: black, blacken-docs, flake8

added test.yaml for DisambiguationStrategies - to be used in unit tests
  kazu/conf/DisambiguationStrategies/test.yaml
Due: none

removed test config for disambiguation strategies - is now instantiated in code
  kazu/conf/DisambiguationStrategies/test.yaml
  kazu/tests/test_disambiguation_strategies.py
Due: black, blacken-docs, flake8

pinned fastapi to 0.108.0 and is throwing errors with ray serve
  pyproject.toml
Due: none

minor code improvement
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

clarified behaviour of PreferNearestEmbeddingToDefaultLabelDisambiguationStrategy where two ids share the same label
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

docs fix
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

reworked DisambiguationStrategy documentation to make it clear that Equivalent ID sets may be created by a strategy
  kazu/steps/linking/post_processing/disambiguation/strategies.py
Due: black, blacken-docs, flake8

towncrier: PreferNearestEmbeddingToDefaultLabelDisambiguationStrategy
  docs/_changelog.d/+prefnearest.feature.rst
Due: blacken-docs

fixed kazu-env location
  .github/workflows/release.yml
Due: none

added a comment that may help if hatch stops working
  .github/workflows/release.yml
Due: none

fixed a bug wherein null value for csr matrix was being incorrectly calculated, causing an array of the wrong dimensions to be created
  kazu/steps/linking/post_processing/disambiguation/context_scoring.py
Due: black, blacken-docs, flake8

Bump version: 1.4.0 → 1.5.0
  CHANGELOG.md
  docs/_changelog.d/+biotypefilter.feature.rst
  docs/_changelog.d/+ded.feature.rst
  docs/_changelog.d/+deprecate-replace-dashes.removal.md
  docs/_changelog.d/+dropmappings.feature.rst
  docs/_changelog.d/+gilda.feature.rst
  docs/_changelog.d/+prefnearest.feature.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

towncrier: scipy 1.12.0
  docs/_changelog.d/+scipy.bugfix.rst
Due: blacken-docs

Bump version: 1.5.0 → 1.5.1
  CHANGELOG.md
  docs/_changelog.d/+scipy.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

docs: update comment on override
  kazu/data/data.py
Due: black, blacken-docs, flake8

docs: remove manual type 'override' that's no longer needed
  kazu/utils/grouping.py
Due: black, blacken-docs, flake8

deps: add sphinx minimum version
  pyproject.toml
Due: none

Better error handling for IndexError in model pack build
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

Make ray timeout configurable in model pack build
  kazu/utils/build_and_test_model_packs.py
Due: black, blacken-docs, flake8

Add timeouts for label studio connection
  kazu/annotation/label_studio.py
Due: black, blacken-docs, flake8

feat: add reverse param to sort_then_group
  kazu/steps/linking/post_processing/disambiguation/strategies.py
  kazu/utils/grouping.py
Due: black, blacken-docs, flake8

docs: return `doc` from quickstart examples
  docs/quickstart.rst
Due: blacken-docs

docs: explicitly mention notebooks in quickstart
  docs/quickstart.rst
Due: blacken-docs

correcting sphinx issues with various docstrings/rst files
  docs/ontology_parser.rst
Due: blacken-docs

various documentation nitpicks
  kazu/data/data.py
  kazu/ontology_preprocessing/base.py
  kazu/ontology_preprocessing/curation_utils.py
  kazu/tests/utils.py
  kazu/utils/utils.py
Due: black, blacken-docs, flake8

using a set comprehension in the place of a for loop
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

synonym_generation.py reworked to use new data model
  kazu/ontology_preprocessing/synonym_generation.py
Due: black, blacken-docs, flake8

verify_curation_set_integrity now returns CurationSetIntegrityReport instead of tuples
  kazu/ontology_preprocessing/base.py
  kazu/ontology_preprocessing/curation_utils.py
  kazu/tests/test_conflict_analyser.py
Due: black, blacken-docs, flake8
