Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

refactor: black and mypy updates in ontotology test
  kazu/tests/test_ontology_parser.py
Due: black, blacken-docs, flake8

refactor: add missing type hints
  kazu/tests/test_ontology_parser.py
Due: black, blacken-docs, flake8

fix: mypy errors
  kazu/ontology_preprocessing/base.py
  kazu/ontology_preprocessing/parsers.py
  pyproject.toml
Due: black, blacken-docs, flake8

taste disabled pip cache
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

try installing openblas
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

revert changes and try different scipy version
  .github/workflows/precommit_and_docs_build_check.yml
  pyproject.toml
Due: none

remove types-requests
  pyproject.toml
Due: none

try sudo install openblas
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

feat: remove distillation training code causing issues
  .github/workflows/precommit_and_docs_build_check.yml
  pyproject.toml
Due: none

fix typo
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

fix: use pre-commit < 4
  pyproject.toml
Due: none

fix: add requirement back in
  pyproject.toml
Due: none

pin spacy
  pyproject.toml
Due: none

fix: black formatting errors following update
  .flake8
  kazu/krt/components.py
  kazu/ontology_preprocessing/curation_utils.py
  kazu/ontology_preprocessing/downloads.py
  kazu/pipeline/__init__.py
  kazu/steps/linking/post_processing/xref_manager.py
  kazu/steps/ner/opsin.py
  kazu/steps/step.py
  kazu/tests/test_opsin.py
  kazu/utils/caching.py
  kazu/utils/spacy_pipeline.py
  krt/pages/2_fix_resource_discrepancies.py
Due: black, blacken-docs, flake8

refactor: reduce nesting in _process_global_actions
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

try without pip cache
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

refactor: further nesting in curation_utils
  kazu/ontology_preprocessing/curation_utils.py
Due: black, blacken-docs, flake8

refactor: reduce nesting in OntologyParser
  kazu/ontology_preprocessing/base.py
Due: black, blacken-docs, flake8

version: bump black version
  kazu/ontology_preprocessing/base.py
  pyproject.toml
Due: black, blacken-docs, flake8

fox: remove cache which doesn't recognise different func arguments
  kazu/ontology_preprocessing/downloads.py
Due: black, blacken-docs, flake8

fix: remove button reserved for other pages
  krt/pages/1_update_ontology_version.py
Due: black, blacken-docs, flake8

refactor: decouple different tests for extensibility
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

fix: CombinatorialSynonmyGenerator should only check for original strings
  kazu/ontology_preprocessing/synonym_generation.py
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

refactor: add typing annotations in test file
  kazu/tests/test_synonym_generators.py
Due: black, blacken-docs, flake8

feat: update changelog
  docs/_changelog.d/combinatorial_synonym_generator.bugfix.rst
  docs/_changelog.d/krt.bugfix.rst
  docs/_changelog.d/ontology_updates.feature.rst
Due: blacken-docs
