Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black .
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]
    exclude: setup.py

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^docs/_build|\
      ^docs/_autosummary|\
      ^kazu/tests/test_assets/tinybern"

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        additional_dependencies: [types-requests,types-cachetools]

change url to os version
  README.md
Due: none

updated for new api changes and clarity
  docs/conf.py
  docs/curating_for_explosion.rst
  docs/quickstart.rst
Due: black, flake8

docs build
  docs/_autosummary/kazu.modelling.ontology_preprocessing.base.rst
  docs/_build/html/_autosummary/kazu.modelling.distillation.models.html
  docs/_build/html/_autosummary/kazu.modelling.hf_lightning_wrappers.html
  docs/_build/html/_autosummary/kazu.modelling.language.string_similarity_scorers.html
  docs/_build/html/_autosummary/kazu.modelling.linking.sapbert.train.html
  docs/_build/html/_autosummary/kazu.modelling.ontology_preprocessing.base.html
  docs/_build/html/_autosummary/kazu.pipeline.pipeline.html
  docs/_build/html/_autosummary/kazu.steps.linking.post_processing.disambiguation.context_scoring.html
  docs/_build/html/_autosummary/kazu.steps.linking.sapbert.html
  docs/_build/html/_autosummary/kazu.steps.ner.hf_token_classification.html
  docs/_build/html/_autosummary/kazu.steps.other.cleanup.html
  docs/_build/html/_autosummary/kazu.steps.step.html
  docs/_build/html/_autosummary/kazu.utils.link_index.html
  docs/_build/html/_autosummary/kazu.utils.string_normalizer.html
  docs/_build/html/_sources/_autosummary/kazu.modelling.ontology_preprocessing.base.rst.txt
  docs/_build/html/_sources/curating_for_explosion.rst.txt
  docs/_build/html/_sources/quickstart.rst.txt
  docs/_build/html/_static/debug.css
  docs/_build/html/_static/pygments.css
  docs/_build/html/_static/skeleton.css
  docs/_build/html/curating_for_explosion.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/objects.inv
  docs/_build/html/quickstart.html
  docs/_build/html/searchindex.js
Due: none

added missing cachetools dependency
  setup.py
Due: black

add request header id and response id
  kazu/web/jwtauth.py
  kazu/web/routes.py
  kazu/web/server.py
Due: black, flake8

Bump version: 0.0.15 → 0.0.16
  setup.cfg
  setup.py
Due: black

updated docs
  docs/_build/html/_sources/quickstart.rst.txt
  docs/_build/html/quickstart.html
  docs/_build/html/searchindex.js
  docs/quickstart.rst
Due: none

reformat
  kazu/web/jwtauth.py
  kazu/web/server.py
Due: black, flake8

fix precommit
  kazu/web/routes.py
  kazu/web/server.py
Due: black, flake8

remove logging output
  kazu/web/server.py
Due: black, flake8

Bump version: 0.0.16 → 0.0.17
  setup.cfg
  setup.py
Due: black

fix docs auth
  kazu/web/jwtauth.py
  kazu/web/server.py
Due: black, flake8

add doc page info and description
  kazu/web/server.py
Due: black, flake8

change to updated doc page
  kazu/web/server.py
Due: black, flake8

Update kazu/web/server.py
  kazu/web/server.py
Due: black, flake8

add version and fix typo
  kazu/web/jwtauth.py
  kazu/web/server.py
Due: black, flake8

fix whitespace
  kazu/web/server.py
Due: black, flake8

Bump version: 0.0.17 → 0.0.18
  setup.cfg
  setup.py
Due: black

added doc freq to Curated Term
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

dict() -> {}
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

Update kazu/utils/string_normalizer.py
  kazu/utils/string_normalizer.py
Due: black, flake8

docs
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

clearer datastructure construction for TfIdfDisambiguationEntries
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

simplified generator
  kazu/steps/linking/entity_class_disambiguation.py
Due: black, flake8

Bump version: 0.0.18 → 0.0.19
  setup.cfg
  setup.py
Due: black

removed redundant inits
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

improved docs for additional_synonyms
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

removed redundant method _load_curations
  kazu/modelling/ontology_matching/ontology_matcher.py
Due: black, flake8

remove erroneous extra whitespace from string_normalizer.py
  kazu/utils/string_normalizer.py
Due: black, flake8

minor improvements from review
  kazu/utils/string_normalizer.py
Due: black, flake8

make CL parser __init__ match others
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

pass additional_synonyms through in CLOntologyParser.__init__
  kazu/modelling/ontology_preprocessing/base.py
Due: black, flake8

auth fixes
  kazu/web/server.py
Due: black, flake8

Bump version: 0.0.19 → 0.0.20
  setup.cfg
  setup.py
Due: black

Update README.md
  README.md
Due: none

linting
  frontend/Dockerfile
  frontend/nginx.template
  frontend/src/components/app.tsx
  frontend/src/components/ls-component.tsx
  frontend/src/components/text-submit.tsx
  frontend/src/config.json
  frontend/src/index.css
  frontend/src/logo.svg
  frontend/src/types/types.ts
  frontend/start-server.sh
Due: none

docs
  frontend/README.md
Due: none

renamed lib/ -> utils/
  frontend/src/components/app.tsx
  frontend/src/components/text-submit.tsx
  frontend/src/index.tsx
  frontend/src/utils/kazu-client.test.ts
  frontend/src/utils/kazu-client.ts
  frontend/src/utils/kazu-utils.ts
Due: none

added CORSMiddleware for configuring CORS policy
  kazu/conf/Middlewares/jwt.yaml
Due: none

formatting, reverted kazuApiUrl to an env var
  frontend/src/config.json
  frontend/src/utils/kazu-client.test.ts
  frontend/src/utils/kazu-utils.ts
Due: none
