Repository AstraZeneca/KAZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    require_serial: true
    types: [python]

  - id: blacken-docs
    name: blacken-docs
    stages: [commit]
    language: system
    # note that this doesn't access pyproject.toml
    # black settings by default, so defaults to a line
    # length of 88, rather than 100.
    # This is actually good for us, since a line length
    # of 100 would introduce horizontal scroll bars
    # in code blocks in the docs.
    entry: blacken-docs -t py38
    types_or: [python, rst, markdown]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry:  flake8
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry:  mypy
    types: [python]
    types_or: [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'

  - id: docsig
    name: docsig
    entry: docsig
    language: python

- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
    exclude: "^kubernetes/ray/templates/.*\\.yaml$"
  - id: end-of-file-fixer
    exclude: "\\.png$|\
      \\.bin$|\
      \\.parquet$|\
      \\.inv$|\
      ^kazu/tests/test_assets/tinybern"
# this isn't *really* a python file
# but vulture wants it to seem that way
exclude: .vulture_whitelist.py

fix: sphinx try 2
  docs/conf.py
Due: black, blacken-docs, flake8

added towncrier for llm ner
  docs/_changelog.d/+llmner.feature.rst
Due: blacken-docs

fix: sphinx error
  docs/conf.py
Due: black, blacken-docs, flake8

fix: add missing return types
  kazu/steps/ner/llm_ner.py
Due: black, blacken-docs, flake8

feat: remove safety settings from llm
  kazu/steps/ner/llm_ner.py
  pyproject.toml
Due: black, blacken-docs, flake8

small optimisations for building the automaton
  kazu/steps/ner/llm_ner.py
Due: black, blacken-docs, flake8

refactor: move llm depends to optional
  pyproject.toml
Due: none

new LLMNERStep to perform NER with LLMs
  kazu/steps/ner/llm_ner.py
Due: black, blacken-docs, flake8

slightly improved test to test 'first class found' functionality
  kazu/tests/test_llm_ner_step.py
Due: black, blacken-docs, flake8

tests for LLMNERStep
  kazu/tests/test_llm_ner_step.py
Due: black, blacken-docs, flake8

added openai and google-cloud-aiplatform to all-steps dependencies
  pyproject.toml
Due: none

Bump version: 2.1.1 → 2.2.0
  CHANGELOG.md
  docs/_changelog.d/+curations.bugfix.rst
  docs/_changelog.d/+llmner.feature.rst
  docs/_changelog.d/chromosomeX.bugfix.rst
  docs/_changelog.d/docs_pip_command.bugfix.rst
  kazu/__init__.py
Due: black, blacken-docs, flake8

fix: mypy errors in kazu.data
  kazu/data/__init__.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: more mypy errors
  kazu/ontology_preprocessing/base.py
  kazu/steps/linking/post_processing/disambiguation/context_scoring.py
  kazu/steps/linking/post_processing/strategy_runner.py
  kazu/steps/ner/tokenized_word_processor.py
  kazu/steps/other/cleanup.py
  kazu/utils/abbreviation_detector.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: further mypy errors
  kazu/database/in_memory_db.py
  kazu/ontology_preprocessing/synonym_generation.py
  kazu/web/req_id_header.py
  kazu/web/server.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: errors in ontology parsers
  kazu/ontology_preprocessing/parsers.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: typing errors in ontology matcher
  kazu/ontology_matching/ontology_matcher.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: further typing errors
  kazu/annotation/label_studio.py
  kazu/utils/utils.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: further mypy errors
  kazu/annotation/acceptance_test.py
  kazu/utils/build_and_test_model_packs.py
  pyproject.toml
Due: black, blacken-docs, flake8

fix: errors in pre-commit outside of kazu folder
  docs/conf.py
  kazu/utils/spacy_pipeline.py
  pyproject.toml
Due: black, blacken-docs, flake8

dummy change
  README.md
Due: blacken-docs

try without pip cache
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

try forcing pandas>2
  pyproject.toml
Due: none

taste disabled pip cache
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

test numpy > 2
  pyproject.toml
Due: none

try installing openblas
  .github/workflows/precommit_and_docs_build_check.yml
Due: none

revert changes and try different scipy version
  .github/workflows/precommit_and_docs_build_check.yml
  pyproject.toml
Due: none
